[2013-09-27 21:17] eskimoblood opened #2 "Refactor to support different renderer"
At the moment the code is hard coupled to render on the canvas object. So for example in `Path.prototype.drawPoints`, the Path geometry knows how to render itself on a canvas. Instead there should be a renderer, that knows how to draw a path on it self. This way its easier to support other renderer for example for SVG or OPENGL.

Also the renderer should be part of another module so the code can a

[2013-10-01 08:41] fdb opened #3 "Better API for glyphs."
It's currently quite hard to get access to glyph paths and boundaries.

Work out the API for glyphs to support getting the path, and supporting drawing.

[2013-11-03 14:53] davelab6 opened #5 "Support all SFNT tables"
Support all the (metadata) sfnt tables, similar to  https://github.com/bramstein/opentype

[2013-11-04 03:57] Soviut opened #6 "Bower support"
It would be great if OpenType could be installed using the Bower package manager.

[2013-11-10 09:02] TeeTrizZz opened #7 "Bug in charToGlyph"
Hi, thanks for opentype.js, it's very useful. Though, I found a bug in charToGlyph:

I have the umlauts _äöüß_ in my text. This works flawless in FreeType with both fonts I use but it only works with one font of the two fonts in opentype.js. The problematic font is [Cousine.ttf](https://github.com/FUSEEProjectTeam/Fusee/tree/feat_text_gui/src/Engine/Examples/TextDemo/Assets).

The ASCII code of _ö

[2013-11-16 04:18] samreid opened #8 "Performance improvements for EnergySkateParkBasicsModel.step subdivisions"
This todo came from the code:

For dt subdivision, make sure not updating any view code.  Just update a model structure for numDivisions times, then update all views only once.

This will be a significant refactor and we should make sure it is worthwhile.  It may also be difficult to estimate the benefit we may obtain from this (maybe not too much if scenery already postponing most events to updat

[2013-11-16 04:22] samreid opened #9 "Improve energy conservation when attaching to the track"
In EnergySkateParkBasicsModel.interactWithTracksWhileFalling when the skater attaches to the track, it computes uD from the bead-on-a-wire equations.  We could take the additional step of correcting this value through search based on energy conservation, if necessary.  I guess we will know if this work is necessary if energy is not conserved when the skater is attaching to the track.

[2013-11-16 04:24] samreid opened #10 "Should the skater travel along the ground?"
In the original Java Energy Skate Park: Basics, if the skater hits the ground, he will travel along the ground as if it has no friction.  I thought it would make more sense for the skater to stop and remain motionless (as if it is grass), so that he doesn't escape from the screen.  I don't think it would be too much work to add support for moving along the ground but thought I'd ask whether not we

[2013-11-16 04:25] samreid opened #11 "Sometimes the skater flips upside down when tracks joined"
Sometimes the skater flips upside down when tracks joined

[2013-11-16 04:32] #8 closed, assigned to nobody

[2013-11-16 04:33] #9 closed, assigned to nobody

[2013-11-16 04:33] #10 closed, assigned to nobody

[2013-11-16 04:33] #11 closed, assigned to nobody

[2013-12-18 11:39] bulyshko opened #14 "Update npm Registry"

[2013-12-18 16:23] #3 closed, assigned to nobody

[2013-12-18 16:24] fdb opened #15 "Add support for PostScript fonts"
OpenType font files can contain both TrueType or PostScript outlines. Currently we only support TrueType outlines. We should support both.

[2014-01-31 21:28] ruswerner opened #18 "Incorrect glyph paths"
I am evaluating switching from a proprietary system I wrote to render glyphs to using opentype.js. I was comparing output for Helvetica and notice that when using opentype.js there are flat spots on the tops of some of the glyphs, such as "e" and "c". Shown here:

![opentype-render](https://f.cloud.github.com/assets/923732/2054950/a6526600-8abd-11e3-9229-274ec07d606a.png)

If you compare this to m

[2014-02-05 22:05] #7 closed, assigned to nobody

[2014-02-06 10:11] #18 closed, assigned to nobody

[2014-02-07 14:33] #15 closed, assigned to nobody

[2014-02-07 15:46] #6 closed, assigned to nobody

[2014-02-07 15:47] #14 closed, assigned to nobody

[2014-02-11 11:50] nktpro opened #19 "Support for GPOS table parsing"
Most fonts from Google repo (http://www.google.com/fonts) use the GPOS table for kerning data, and many don't include the old "kern" section, which currently causes missing kerning data from opentype.js.

IMO this is an important feature to support. Safari and Firefox both turn on kerning by default for all text. Not being able to take kerning into account leads to:
- Inconsistent drawing results

[2014-03-29 14:35] nraynaud opened #21 "don't output 'Z' commands for whitespace"
Hi, I think you output a 'Z' command for every glyph, including blanks, which is a bit strange since you have issued no 'M' or any drawing command before.

I found it with SVG where it's illegal, it's really visible when you start the chunk of text with a space,  the first command is a Z.

[2014-04-08 03:06] ghost opened #23 "Doesn't work on IE11"
I took a look at the demo in IE11 and the font playground is all garbled up. Here's a screenshot.

![untitled](https://cloud.githubusercontent.com/assets/6708820/2639512/be12fe3a-beca-11e3-8aca-f7a7f7d6adf1.png)

This is not a problem on Chrome.

[2014-04-11 06:53] ghost opened #25 "Any way to support this project?"
I've been following this project for a while now and I'm very interested in using it in a project of mine to dynamically generate textures to be used in WebGL, which would then be used for text animations. Naturally, I would want this parser to be as well-developed and robust as possible.

Sadly, I don't have the coding skills to contribute to this project. Is there any other way I can help contri

[2014-04-11 20:00] #23 closed, assigned to nobody

[2014-04-11 21:15] fdb opened #27 "Modularize the code base"
Currently opentype.js is over 2,000 lines of JS. To make hacking on the code more manageable it might be a good idea to split it up into modules.

Some rough suggestions:
- Paths
- Primitive parsing functions (getByte, ...)
- Font and Glyph object
- CFF encoding tables
- OpenType table parsers
- CFF table parsers
- Main entry points

There is an abundance of choice around build tools and I'd love

[2014-04-11 21:19] fdb opened #28 "Add code quality tools"
As the project grows it is important that the quality of the code remains high: no regressions should be introduced and the overal coding style remains consistent.

For tests, set up a testing suite that runs automatically and catches regressions with built-in fonts.

For code consistency, set up JSHint. This should be integrated in a `npm test` task, and be checked in continuous integration (so i

[2014-04-12 05:36] #25 closed, assigned to nobody

[2014-04-16 21:22] moyogo opened #29 "incorrect placement of component"
When loading Roboto-Black, glyph 109 '«' U+00AB has its first component in the wrong position:
dx: 245
dy: 221
but it should be:
dx :-11
dy:-35

[2014-04-17 14:18] #29 closed, assigned to nobody

[2014-05-07 00:02] 9tontruck opened #36 "Loading system fonts?"
Hi,

I am just wondering if I can load system fonts which already exist in windows/fonts. Downloading each single font files gets whole process slow even though user's computer already has system fonts.

opentype.load('fonts/ariblk.ttf', function (err, font) {
    });

Thanks,

[2014-05-07 16:47] 9tontruck opened #37 "Waiting font loaded"
Hi,

Thanks for the previous reply. Now I have a question about loading font without callback function. I need it because I call the function below from flex. Flex can't send callback function.

// This function is something I need
function getPath(text) {
    // no callback function. just wait
    opentype.load('fonts/ariblk.ttf');
    var path = font.getPath(text, 0, 150, 72);
    var json = JSO

[2014-05-25 07:46] quasado opened #39 "Issue with Glyph Mapping"
Using the free "Open Sans Regular Italic" TrueType font and requesting a glyph for the character "I" yields in a returned glyph code of zero which is surely wrong and returns the typical "no-char" rectangle. Using the glyph inspector of opentype.js however shows a number of "44" for the letter "I".
Having debugged seems that CmapEncoding.prototype.charToGlyphIndex returns zero but I couldn't figur

[2014-05-26 06:20] #39 closed, assigned to nobody

[2014-05-26 06:49] quasado opened #40 "Syntax error in latest bower.json"
Hi,

Just wanted to install from latest commit as there're some issues with the tagged 0.2.0 version, however getting a syntax error from bower:

bower opentype.js#3e9f760b421cf66426ee94b6177197e403698335       EMALFORMED Failed to read /var/folders/p5/58_0mhcx0sbd24yn_8297vf40000gn/T/aadam/bower/opentype.js-37523-NkFoX4/bower.json

Additional error details:
Unexpected token ]

Looking at the curr

[2014-05-26 11:41] #40 closed, assigned to nobody

[2014-05-27 07:17] quasado opened #43 "Suport for WOFF File Format"
Are there any plans to support Web-Fonts (WOFF) i.e. to read from Google-Fonts and the such? As far as I understood, on could actually use zlib.js to decompress the woff format?

[2014-06-03 07:54] fpirsch opened #44 "RangeError: argument 1 accesses an index that is out of range"
I'm getting this errror with the `artbrush.ttf` font ( http://www.dafont.com/fr/artbrush.font )
Don't have the time to investigate this right now, but the font seems all right and can be used with other software. So this could be a bug in opentype.js

[2014-06-09 17:19] beverlycodes opened #45 "Incompatibility with Safari 6?"
In Safari 6.1.4, constructor.name is undefined.  This results in Parser's isDataView property always returning false.  I'm not sure if there is a good fix, but a hackish adjustment could be made.

It's ugly, but the following resolves the issue:

[code]

[2014-06-09 21:06] #45 closed, assigned to nobody

[2014-06-10 09:12] #44 closed, assigned to nobody

[2014-06-10 19:41] zoghal opened #46 "arabic script supported?"
hi,
i test arabic/persian font with opentype.js demo : http://ritaco.github.io/opentype.js/index.html
 but the cuurent version of opentype.js can not support features isol, init, medi, fina in GSUB table.

Please guide me to add this feature.
thanks.

[2014-06-26 22:21] beverlycodes opened #48 "opentype.load fails when module is included by Browserify"
Since Browserify provides module.exports capability to modules loaded in a browser, it winds up tricking opentype.js into trying to do an fs.readFile in the browser.

Would it be sensible to expose loadFromUrl and loadFromFile so that they can be called explicitly in a case like this?

[2014-07-08 21:32] toreym opened #49 "List of unicode characters in font?"
I'm looking how I could retrieve a list of unicode characters available within a font. This is useful in scenarios where you need to build an index of characters in a font to be used elsewhere. For example to store a unicode character and it's associated glyph details to be persisted in a database and used in another system.

I can see a set of glyph names and glyphs themselves, but no way to get

[2014-07-09 12:21] ss77892 opened #50 "Problems with some of Cyrillic letters in Arial font."
When Arial.ttf from ttf-mscorefonts-installer debian package is used opentype draws incorrectly some of Cyrillic letters. For example Cyrillic 'Э' is drawn as Euro symbol. As well as 'Я' is drawn as 'R'. It seems that those glyphs are using some kind of 'mirror' transform which is not supported by opentype.

![opentypebug](https://cloud.githubusercontent.com/assets/1794962/3524109/8771c33e-0763-11

[2014-07-10 03:08] zoomclub opened #51 "Handling unicode ranges and glyph lookup"
Opentype puts a whole new spin on working with a new music notation OTF called Bravura. The Bravura font is an open standard and large as it covers most music symbols known to mankind. It is defined in the unicode user space as multiple sections grouping the many types/classes of music symbols into unicode ranges. Browse the ranges and diverse music glyphs here : http://www.smufl.org/version/lates

[2014-07-21 17:12] kkaefer opened #55 "Lazy parsing"
Currently, opentype.js loads the entire font at startup. However, on large fonts like Arial Unicode MS, this takes a significant amount of time. Instead, opentype.js should lazily parse the requested glyph (outlines) whenever they're requested first, instead of on startup.

[2014-08-07 22:54] Pomax opened #58 "glyph lsb and rsb"
It would be incredibly useful if the Glyph object also came with an `lsb` and `rsb` value, so that font-indicated glyph based alignment becomes possible.

[2014-08-10 00:50] Pomax opened #59 "Glyph copy constructor"
It would be very useful if there was a Glyph copy constructor, or factory method, so that modifications to a glyph can be made to copies, rather than the original (thus allowing things like modifying the same letter in a string with multiple instances in different ways).

The new Glyph constructor looks pretty good, but it might be useful to add an `if(options.points) { /* this is a copy construct

[2014-08-12 12:49] Enichan opened #60 "Possible bugs detected while porting code to C#"
Having ported all the code to C# I also had to go through it all, so free code audit! :D I found some small things which were pretty obviously wrong, and here they are.

In 'font.js', line 66:

[code]

Should probably be "if (!this.glyphNames.glyphIndexToName) {".

In 'gpos.js', line 167 and 171:

[code]

Instead of returning 0 here, it should probably return null instead to be compatible with the

[2014-08-12 13:04] #60 closed, assigned to nobody

[2014-08-12 17:13] Enichan opened #61 "getCFFString bug"
In 'cff.js', line 153, this should be "index < 391", because the length of the cffStandardStrings collection is only 391.

[code]

Without the change, I believe this just returns null for index 391.

[2014-08-14 00:25] Aetherpoint opened #62 "Loading the font with @fontface?"
Curious – is there anyway to access the font object with a CSS @fontface? Or would that require recompiling the font somehow?

[2014-10-02 18:10] em opened #64 "Add install instructions to README"
I initially npm installed "opentype" and it took a bit to figure out it wasn't your module "opentype.js"

[2014-10-12 12:50] shinnn opened #66 "Release v0.3.1"
Current `master` has been updated  from v0.3.0 and many problems are fixed.

Would you mind publishing a new version to npm and bower?

[2014-10-17 20:55] kuckir opened #67 "Make Font object structure more similar to OTF file"
I see you are creating about 20 properties on File object (ascender, copyright, descender, description, designer ...). All these properties are already stored in Font.tables.

I think it is convenient for user to get these data right from tables, he can learn something about font file structure at the same time. I don't see any reason for such redundancy, it also makes file object "messy".

[2014-10-18 23:05] darionco opened #68 "Unicode characters exception. (TypeError: Cannot read property '0' of undefined)"
In the library's version uploaded to the project's website (gh-pages branch) at:
http://nodebox.github.io/opentype.js/index.html

Using the font DroidSansFallbackFull.ttf (https://github.com/android/platform_frameworks_base/blob/master/data/fonts/DroidSansFallbackFull.ttf)

Chinese characters, I use "零" for testing, display properly:
![screen shot 2014-10-18 at 6 45 19 pm](https://cloud.githubuser

[2014-10-20 18:48] oriSomething opened #69 "separating the two part of "getting font data" and "drawing it" to different libraries"
one will only extract raw data that can also be used for the second library for drawing.
it has the benefit that it will make this lib more lighter and more flexible for building libraries that use this lib. (for example the discussion about using angular with the font data).
and i think it would be more useful in future for making opentype.js a lib that also write fonts

[2014-10-22 10:11] rvnath opened #70 "how to get point-along-a-path from path object"
I am drawing a glyph shape and getting its path using font.getPath(). This method gives me a path object containing an array of draw commands.  Now, I want to be able to find any arbitrary point on the path curve for a given x and y value coordinates (similar to SVG function getPointAtLength().

How to do this?

[2014-10-22 10:31] rvnath opened #71 "Is it possible to get the middle skeleton path of glyphs"
The font.getPath() method is giving me a path consisting of inner and outer boundaries of glyphs. I want to be able to find a skeletal path that goes through the middle of the glyph path.  See the red line in the below attached image.
![skeleton](https://cloud.githubusercontent.com/assets/4309494/4734576/9416a84c-59d5-11e4-93f8-50811e1cd9c0.PNG)

Currently, I am following a circuitous approach:
-

[2014-10-22 13:54] #5 closed, assigned to nobody

[2014-10-22 14:25] #69 closed, assigned to nobody

[2014-10-27 22:17] davelab6 opened #72 "Support all the tables that fonttools does"
Following #5, I'd like to suggest enumerating and implementing support for all the tables that https://github.com/behdad/fonttools/ does.

I speculate that development momentum could accelerate if opentype.js was as attractive as Behdad's fontTools :)

[2014-10-28 11:49] davelab6 opened #73 "Optimally pack CFF Type2 CharStrings"
https://github.com/samfishman/fonttools/commits/feature-simplify-operators has Python code to optimally pack CFF Type2 CharStrings, which could be ported to opentype.js

[2014-11-06 18:57] louisremi opened #75 "glyphs need to be sorted before the font is generated, otherwise it gets corrupted"
When trying to generate a font, the glyphs need to be sorted, using a simple font.glyphs.sort() before converting it to a buffer. Otherwise the font gets corrupted.

(Sorry for this incomplete bug report, I've got to file it real quick before leaving the office, will try to produce reduced test-case tomorrow)

[2014-11-07 08:35] #71 closed, assigned to nobody

[2014-11-10 14:53] #64 closed, assigned to nobody

[2014-11-10 14:53] #49 closed, assigned to nobody

[2014-11-10 14:55] #36 closed, assigned to nobody

[2014-11-10 14:55] #37 closed, assigned to nobody

[2014-11-10 14:55] #27 closed, assigned to nobody

[2014-11-10 15:30] #2 closed, assigned to nobody

[2014-11-10 15:31] #61 closed, assigned to nobody

[2014-11-10 15:31] #48 closed, assigned to nobody

[2014-11-10 15:47] #68 closed, assigned to fdb

[2014-11-10 15:53] #50 closed, assigned to nobody

[2014-11-10 16:01] #66 closed, assigned to nobody

[2014-11-10 16:03] fdb opened #76 "Canvas rendering in examples should support high DPI screens"
Currently, canvas tags show up blurry.

[2014-11-11 14:45] #21 closed, assigned to nobody

[2014-11-12 23:15] joshmarinacci opened #79 "How do I use opentype.js with NodeJS?"
I created a simple test using the readme example code and I am unable to load the module.

this code:

[code]

produces the error:

▶ node test2.js

module.js:340
    throw err;
          ^
Error: Cannot find module 'opentype'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Module.require (module.js:364:17)
    at require (module.js

[2014-11-13 18:16] #79 closed, assigned to nobody

[2014-11-13 18:18] joshmarinacci opened #80 "How to get ascent and descent"
I'm implementing a Canvas compatible API and I would like to get the ascent and descent of a font.  I can calculate the min and max y values for a particular run of text, but then it will be dependent on that particular text. For example, 'GG' would return different results than 'Gg'.  Is there a way to get the heights for the entire font instead of just particular glyphs?

[2014-11-28 05:07] #70 closed, assigned to nobody

[2014-12-09 09:33] quasado opened #82 "Question: Get font-family and style / weight"
hi,

Is there a reliable way to read the font-family, style (italic) and weight from any ttf/otf font?
I've found fontSubfamily and fontFamily on the name header table but is that reliable enough?

[2014-12-28 06:58] aui opened #84 "Add support for quad curves in font writing"
trueType use `toBuffer ()` and `download ()` method error.

**BUG DEMO**:

http://aui.github.io/demo/opentype.js/readwrite-ttf.html

[2015-01-05 10:42] georg-paul opened #85 "Some font characters lead to wrong display"
I have uploaded two fonts ("Neris Light" and "Leaque Gothic Regular") to your glyph inspector. Please see the attached screenshots.

Your can reproduce the error there:
Font: Neris Light, Incorrect character "t" (unicode 0074)
Font: Leaque Gothic Regular, Incorrect character "D" (unicode 0044)

The font files are not broken generally.

You can download the free fonts here:
http://www.fontsquirrel.

[2015-01-06 09:03] fdb commented on #85
Strange – it reports some of the coordinates as `NaN` – Not A Number. Will investigate, thanks for the report.

[2015-01-15 10:22] jagi commented on #80
But do you have any idea how to convert those values to real ascent and descent values for given font size? I'm thinking about creating poly fill for `measureText` that uses opentype.js.

[2015-01-15 14:07] jagi commented on #80
Ok I've found the solution:

[code]

[2015-01-15 15:30] zswang commented on #84
from https://raw.githubusercontent.com/DmitryBaranovskiy/raphael/master/raphael.js
[code]

[2015-01-17 15:39] fdb commented on #84
This is fixed with #86, thanks @zswang!

[2015-01-17 15:40] fdb commented on #80
Sorry for the late reply. Your answer is indeed correct – all font geometry values are in `unitsPerEm`, so you have to scale them by that value.

[2015-01-17 15:40] #80 closed

[2015-01-17 15:40] #75 closed

[2015-01-17 15:41] fdb commented on #75
Closing this for now, can't reproduce.

[2015-02-03 06:11] tshinnic commented on #85
There are unsupported Type 2 CharString operators in at least the "League Gothic Regular" font file, and I wouldn't doubt this is true of both.

Adding the console.log line below does display the message "saw unsupported operator 1237", which equates to the 'flex1' operator.  Having worked on some other code derived from openfont.js I knew that there were potential problems with leftover items on

[2015-02-05 09:18] #85 closed

[2015-02-05 09:26] fdb commented on #85
Hi,

The issue is fixed for most characters, but some characters still use different `flex` operators, which are not yet supported.

[2015-02-05 11:37] miguelsousa opened #90 "Add support for CID-keyed fonts"
As @tshinnic discovered, [opentype.js doesn't yet support CID fonts](https://github.com/nodebox/opentype.js/pull/89#issuecomment-72994757). This kind of OpenType fonts is the norm for CJK (Chinese/Japanese/Korean) fonts. [Source Han Sans](https://github.com/adobe-fonts/source-han-sans/releases) is the perfect font family to test with.
/cc @kenlunde

[2015-02-05 19:29] fdb commented on #90
It seems performance is going to be an issue as well, simply because of the large character sets of CJK fonts. I'll think about lazy loading the font.

[2015-02-05 19:35] kenlunde commented on #90
Keep in mind that Source Han Sans represents the extreme end of the "number of glyphs" spectrum for CJK fonts because the number of glyphs is at the architectural limit of 65,535 glyphs. Typical CJK fonts have less than 30K glyphs, which many at or slightly below 10K glyphs.

[2015-02-05 19:48] tshinnic commented on #90
I'm making my own code neater for the CID font case, and then I'll try to jam the equivalent into opentype.js.  The high-level TopDict+PrivateDict in usually coded as there can be only one, but at one point there could be / could have been multiple fonts in a CFF font and thus multiple TopDicts.  That almost exactly duplicates the needed handling of FDArray.  I'm trying to make just one routine to

[2015-02-05 19:55] #76 closed

[2015-02-06 18:19] miguelsousa commented on #85
@tshinnic could you share the code (in a Gist or something) you used for outputting the notes above? It looks like a very good solution for debugging the stack.

[2015-02-07 00:06] tshinnic commented on #85
Here it is in a gist ["opentype.js 2-byte decoding and add operator/operand decode tracing"](https://gist.github.com/tshinnic/64f70567ed8d4cdc2af8)  formatted as a git patch.  As the description says, this is actually two different things: combine the 1-byte and 2-byte operator decoding, and add operator/operand decode tracing.

@fdb should advise on what parts of this would be acceptable for incl

[2015-02-07 10:39] fdb commented on #85
Super useful! Anything to make debugging CFF easier :-)

I'll look at this on Monday.

[2015-02-11 21:57] mattlag opened #94 "Font.glyphs *must* be sorted by Unicode, or font creation fails"
For Glyphr Studio, I'm generating an opentype.Font object manually.  I was getting lots of 'not a valid font file' errors as a result of Font.download() - and I discovered it was just because the Font.glyphs array was not sorted.  Specifically:

- The .notdef glyph must exist and must be first
- The rest of the glyphs must be sorted by Unicode number

Ideally, opentype.js would do this sorting.  A

[2015-02-11 21:59] mattlag commented on #94
Also, if two glyphs share a unicode value, Font.download() fails.  Ideally duplicates would be ignored as opposed to causing failures.

[2015-02-11 22:29] mattlag opened #95 "Font.setKerningValue(l,r,v) method"
Would be nice to have a method for setting kern pair values: Font.setKerningValue(leftglyph, rightglyph, value).  It looks like this is possible by manually editing the Font.kerningPairs object... but i'm not sure if there is some other internal stuff (GposKerningValue?) that also needs to be updated.

[2015-02-11 23:19] davelab6 commented on #95
The Kern table is deprecated, GPOS kerning should be used instead :)
On Feb 11, 2015 5:29 PM, "Matt LaGrandeur" <notifications@github.com> wrote:

[2015-02-11 23:26] mattlag commented on #95
I'm looking through the opentype.Font object, there doesn't seem to be a GposKerning object (only a getGposKerningValue method).  There *is* a kerningPairs object that appears to hold kern values.  But i'm not sure how internally that maps to exported font features.

I'm going to try directly accessing it.. but like I said, it would be better if there was some sort of official method, as opposed t

[2015-02-12 01:02] mattlag commented on #94
Also, x/y values cannot be decimal, they have to be whole integers, otherwise font creation fails.

I'm just going to collect all my notes about the issues I ran into in this issue :-)

[2015-02-12 05:24] davelab6 commented on #94
I believe the spec supports decimal point positions

[2015-02-12 05:24] davelab6 commented on #94
Perhaps duplicates would be automatically generated as components, if the
spec really doesn't allow this? :)

[2015-02-12 07:11] moyogo commented on #94
“Font.glyphs *must* be sorted by Unicode”: that shouldn’t be a requirement. A lot of space can be saved when glyph order and glyph classes in GPOS/GSUB are optimized by range.

Having “two glyphs share a unicode value” is wrong, the cmap doesn’t allow that.

[2015-02-12 14:04] fdb commented on #94
I can implement the sorting. I still don't understand (nor can I find any docs about) if the fonts do need to be sorted, but we can implement it as an option.

You're right about the .notdef glyph. That's an important one. I think step 1 is to mention it in the docs, but it would be interesting if we could generate a warning if it's not there.

More generally, I was thinking about a linter that wo

[2015-02-12 14:05] fdb commented on #94
@davelab6 could you point me to the spec about decimal values? I also was under the impression only integers were allowed.

[2015-02-12 14:17] fdb commented on #95
Kerning values can be stored in two ways, either through the (deprecated) `kern` table or the (complicated) `GPOS` table. Currently we only have read support for both.

There is no way to set them so they will be saved, since we simply have no write support for `GPOS`. It should be added, but I haven't found the time yet.

@mattlag On a related note, last year I've been able to implement font writ

[2015-02-12 17:10] mattlag commented on #95
Thanks for the kerning info, @fdb.  At the moment, Glyphr Studio is a spare time project, and doesn't have any sponsoring capability :-)

[2015-02-12 17:19] mattlag commented on #94
Thanks, everyone.  These are just things that currently cause Font.download to fail - whether or not they should cause failures is a good discussion :-)

Decimal values would be nice to have, lots of the math for flat handles cause lots of decimals.  And at 1000upm, rounding can actually cause visible discrepancies.

I think a linter would be fantastic for people constructing their own Font object

[2015-02-12 20:57] davelab6 commented on #95
@fdb do you prefer cash to sponsor it, or do you prefer someone else to develop it and make a pull request?

[2015-02-12 20:59] fdb commented on #95
@mattlag no problem at all. opentype.js is currently a spare time project as well :-)

@davelab6 both suggestions work for me! Since I have a job in academia, I can do sponsored development during the summer holiday, which is between July and August.

[2015-02-12 21:01] davelab6 commented on #95
@felipesanches are you interested?

[2015-02-12 21:31] mattlag opened #96 "Support for reading and writing Ligatures in a Font"
I'm not sure what the best way to do this would be, from the Font object perspective.  Extend the Glyph object? Create a peer to Font.glyphs that is Font.ligatures?

- create a new Ligature
- ask the Font object to return a Glyph object for a ligature

Anyway, just putting this on the radar.

[2015-02-12 22:25] davelab6 commented on #96
This is the other side of the #95 coin, about adding support for GSUB rather than GPOS :)

I think ideally opentype.js will port https://github.com/typesupply/feaTools to js

[2015-02-12 22:39] mattlag commented on #96
Ah, I didn't think about ligatures with their own single Unicode value.  That is a great idea.

[2015-02-12 22:53] davelab6 commented on #96
http://en.wikipedia.org/wiki/List_of_precomposed_Latin_characters_in_Unicode

Versus https://github.com/twardoch/ttfdiet :)

[2015-03-10 05:48] bitinn opened #99 "Is it possible to obtain hhea table through `ot` command"
Would be pretty great to have a command equivalent of font inspector.

[2015-03-13 19:06] davelab6 opened #100 "Implement a mutate() based on MutatorMath"
In https://github.com/behdad/fonttools/issues/216 @twardoch makes a good case for having font-level interpolation done by OpenType.js's brother fontTools. I wonder that @byte-foundry/plumin would also benefit from this

[2015-03-15 18:51] mattdesl opened #101 "Small text sizes: Hinting / Grid Fitting / etc"
First off; thanks for this awesome library. :+1: I've added it to my [list of text modules](https://github.com/mattdesl/text-modules).

I am looking for a way to render small glyphs to bitmap tiles with the best possible quality for use in canvas/WebGL rendering. Is this outside the scope of this library? Currently it seems like adding a FT_Render_Glyph binding in [freetype2](https://github.com/er

[2015-03-16 00:30] davelab6 commented on #101
I think it should be out of scope; that is what freetype is for :)

[2015-03-16 08:15] fdb commented on #101
Opentype.js does not do rasterizing. I could imagine a library on top of opentype.js that would take the curves and render them to bitmaps, taking hinting into account.

[2015-03-18 20:40] interactionist commented on #62
@fpirsch the 33% more additional base64 bytes should be mitigated by gzipping when you send the data ==> http://davidbcalhoun.com/2011/when-to-base64-encode-images-and-when-not-to/

[2015-03-18 20:50] Pomax commented on #62
Note that if opentype.js is already running in-browser, then bear in mind that the data:uri will basically be immediately unpacked again in-memory, so you only save a bit of space in the `data:` string. The opentype.js font representation, and the font as loaded from `data:` source will both stay exactly the same sizes. For transmission, using gzipped tables inside the WOFF is a good idea. If it's

[2015-03-18 20:59] interactionist opened #102 "Font outlines are broken"
Hi.

I am creating a subset of a font in node.js and saving the new font back.
But when I inspect the newly created font some of the anchor points are shifted. I tried with several fonts from the googlefontdirectory. Does anyone experience similar problems?

[2015-03-18 21:04] interactionist commented on #62
Ah yes, if it is all in the client that would make no sense.
I thought they want to persist it in a CSS/HTML and transfer the font embedded over network.

[2015-03-19 09:28] interactionist commented on #102
When I test the original font with the opentype.js webdemo it works.
I attached an image of the issue …

![outlines_meow](https://cloud.githubusercontent.com/assets/527631/6727501/954bd856-ce22-11e4-8930-44b77e087276.png)

[2015-03-19 12:49] interactionist opened #103 ".ttf exported is not recognised by @font-face"
When I export a TTF and try to use it with @font-face, it is not recognised.
Converting the exported TTF to a WOFF makes it usable in @font-face.

[2015-03-20 18:41] fdb commented on #103
Is this a font you created from scratch? Or an imported font that you export back out? It would help if you can provide some details about the specific font. If possible, could you send it?

[2015-03-20 18:52] interactionist commented on #103
Sure. The font I used is SourceSansPro-Black as TTF taken from the googlefontdirectory. Do you want me to send it via mail? We already chatted via mail btw :)

[2015-03-20 19:06] fdb commented on #103
Since it's open source, could you provide a direct link to the font here?

[2015-03-20 19:46] miguelsousa commented on #103
@fdb https://github.com/adobe-fonts/source-sans-pro/releases

[2015-03-20 20:01] interactionist commented on #103
@fdb Sure. I have it from here: http://www.google.com/fonts#UsePlace:use/Collection:Source+Sans+Pro

[2015-03-20 20:38] interactionist commented on #103
I test the subsetting with the different version @miguelsousa provided. Same output.
Worth noting that when checking with the ```isTtf()```the results yields ```false``` for the subsetted version, but ```true```for the original font.

[2015-03-24 13:35] fdb commented on #102
Thanks for pointing this out! This happens when a TrueType font is converted to a PostScript font.

I've tracked it down to half-point values: fonts with TrueType outlines (but not PostScript) can have half-point values (e.g. 247.5) for coordinates. When converting to PostScript, the decimals are removed. But since the points are stored as delta values from the previous point, these differences ad

[2015-03-24 13:43] fdb commented on #103
Internally we always convert to CFF, since I haven't implemented TrueType exporting yet.

I think this issue might be related to #103, specifically to half-point numbers being accidentally stored in the (PostScript) font.

[2015-03-25 06:02] interactionist commented on #103
So the exported font is actually not a TTF but a CFF, that can be exported as TTF?

[2015-03-25 06:14] interactionist commented on #102
@fdb Thank you. By scaling you mean just to specify a multiplied version as em square when creating the font?

Well, couldn't we interpolate the TTF em square ```×2``` before converting to Postscript? And then convert the em square of the postscript back once we export?

Also: What leaves me puzzled is that when I upload the TTF font to your github demo page, the glyphs themselves look good, not o

[2015-03-25 06:32] interactionist commented on #102
Okay, I fixed that just by using the ```.otf```version of the fonts.

[2015-03-25 06:35] interactionist commented on #103
When mitigated the rounding errors by using a .otf, see #102. The exported .otf is then not recognised by ```@font-face```even if there are no rounding errors anymore.

When I open the exported .otf in Glphs.app and export another .otf, this one is being picked up by the browsers.

[2015-03-25 11:08] fdb commented on #103
There is still something missing in the exported font that makes it fail in the browser. I'm investigating why, since other tools can open it.

WOFF export support is planned, but not yet implemented.

[2015-03-25 11:11] interactionist commented on #103
Cool. What I did is: I inspected both font objects (the otf that isn't working, and the otf that works after exported by Glyphsapp) and then I did a diff on those two JSON in Kaleidoscope. Do you want me to send it over? A lot of stuff differs between those two font objects.

[2015-03-25 11:15] fdb commented on #103
Sure, send it over. The issue is of course finding out *which* difference actually makes it fail :-)

[2015-03-25 11:36] interactionist commented on #103
:) Exactly. I started to compare the font tables, and noticed some differences there. Let me send you the two json files via mail. One finding I had was that the non-working one has an empty ```"subrs":``` in the tables. See screenshot attached.

[2015-03-25 11:39] interactionist commented on #103
![diff](https://cloud.githubusercontent.com/assets/527631/6823810/fdb8a61c-d2eb-11e4-8414-5a8bef3ec4ff.png)

[2015-03-25 11:43] fdb commented on #103
Subroutines are a way of optimizing font-data by factoring out shared parts between letters (e.g. glyphs for "e" and "é" share a lot of path data) They are not required, though.

Note that exporting a PostScript font does work, so it would be interesting to compare that as well.

[2015-03-25 11:56] fdb commented on #102
The error manifests itself when converting from quadratic curves (used in TrueType outlines) to bézier curves (used in PostScript outlines). When parsing fonts with TrueType outlines, the paths are built and drawn using quadratic curves, so they render correctly.

In fact, the conversion to bézier is not even the problem. It's the fact that PostScript always stores relative coordinates from the pr

[2015-03-25 11:57] fdb commented on #102
Also, to fix this, I just round the values, which has the same effect as scaling up and back down. Results are good, except that I still need a small heuristic to see if the beginning and end of the path match up: that's important to get anti-aliasing look good.

[2015-03-25 11:58] interactionist commented on #103
How do you mean? :)

[2015-03-25 11:59] interactionist commented on #102
Yes, makes perfect sense to me! If I can help out let me know.

[2015-03-25 14:27] fdb commented on #103
- The extension (TTF or OTF) is not a reliable indicator of the internal outline format.
- You can't choose the format to export in opentype.js. Everything is exported as PostScript.
- Fonts such as [Fira](https://github.com/nodebox/opentype.js/blob/master/fonts/FiraSansOT-Medium.otf), which is a PostScript font, do work in the browser.

[2015-03-25 15:26] miguelsousa commented on #103
@interactionist Which browsers did you test the exported font with? Chrome and Firefox pre-process the fonts through the [OpenType Sanitizer](https://github.com/khaledhosny/ots). It might be worth testing with this tool to get a sense for what's causing the font to fail.

[2015-03-25 15:27] fdb commented on #103
Awesome! Didn't know about OpenType Sanitizer. Will test generated fonts against it.

@miguelsousa do you know other validation tools / linters that I could use to check the generated fonts? The more the better :-)

[2015-03-25 15:36] miguelsousa commented on #103
@fdb yes. There's the old [Microsoft Font Validator](https://www.microsoft.com/typography/FontValidator.mspx) that still works for the most part, but hasn't been updated in a long time. And you could also use `compareFamily` which is a tool you can find in [Adobe's FDK](http://www.adobe.com/devnet/opentype/afdko.html).

[2015-03-25 15:49] fdb commented on #103
@miguelsousa the MS Font Validator is super-useful, even though it only supports TrueType outlines. Will check out Adobe's tool. Thanks!

The OpenType Sanitizer just shows that a font is "malicious" but there's no additional information. Do you know how I could find out where it fails?

[2015-03-25 15:58] fdb commented on #103
OK the MS Font validator found a number of errors. But one that stands out is the difference between (originally) TT and CFF fonts. For TT fonts, the cmap data is not in ascending order. I know not having the correct order caused issues in the past, so this will be my main focus.

[2015-03-25 16:23] interactionist commented on #103
@miguelsousa + @fdb You guys rock. I didn't know about those Validators! One thing I noticed also is that there is no font preview with the exported font. But when I reexport with Glyphs it shows me a preview of the font.

@miguelsousa I tested with Chrome and Safari under OSX 10.10.2.

[2015-03-25 17:55] davelab6 commented on #103
cc @khaledhosny

[2015-03-25 18:30] miguelsousa commented on #103
@fdb OTS tends to bit kind of cryptic with its warnings and errors messages, but it usually provides a clue as to in which table the problem is.
MS Font Validator supports OT/CFF fonts as well. It doesn't do the rasterization tests for this font format, but AFAIK it does everything else.

[2015-03-25 18:33] khaledhosny commented on #103
Where can I get the font(s) in question? OTS should report why it is rejecting the font most of the time, but it does not always do, but if one built it in the debugging mode (e.g. `make CXXFLAGS=-DOTS_DEBUG`) it should at least shows the lines of code that rejected the font.

[2015-03-25 20:41] interactionist commented on #103
@khaledhosny @fdb Do you refer to the one that doesn't work for me?

[2015-03-25 20:47] khaledhosny commented on #103
Yes, I’d like to test them myself to see why OTS is rejecting them.

[2015-03-25 21:08] interactionist commented on #103
Okay, let me export them for you.

[2015-03-25 21:22] interactionist commented on #103
@khaledhosny What is the best way to send you the .zip?

[2015-03-25 21:35] khaledhosny commented on #103
@interactionist Email should be fine.

[2015-03-25 21:54] interactionist commented on #103
@khaledhosny You should receive a link to download them. This link will expire in 1h.

[2015-03-25 22:47] khaledhosny commented on #103
@interactionist using the `ot-sanitise` too, the SourceSansPro-Black.otf (is that the original?) passes just fine, but SourceSansPro-Black-Subset.otf because `cmap` segments are not in ascending order, and it reports it:

ERROR: cmap: failed to parse table
Failed to sanitise file!

[2015-03-25 22:49] khaledhosny commented on #103
BTW, if you are testing the fonts in Firefox, you should get similar messages in the web console.

[2015-03-26 08:58] fdb commented on #103
@khaledhosny thanks for confirming this. I'll look into the cmap ordering.

[2015-03-26 09:09] #103 closed

[2015-03-26 12:08] interactionist commented on #103
Cheers! Works like a charm.

[2015-03-26 12:09] fdb commented on #103
I'll make a release soon, just want to fix the anti-aliasing bug in #102.

[2015-03-26 12:11] interactionist commented on #103
Nice. I'll just create a fork and will look into WOFF support.

[2015-04-01 21:19] kuckir opened #104 "Can't open my font"
Hi, opentype.js can not parse my font  http://www.ivank.net/BRUSHSTP.ttf
It is because there is no "cmap" table. But other programs can work with this font perfectly.

Where is the problem? Can you fix it?

[2015-04-03 05:52] fdb commented on #104
The problem is that there's no cmap table :-)

What program did you use to make the font?

[2015-04-03 06:05] fdb opened #105 "Provide support for all cmap table formats"
E.g. platformID = 1, encodingID = 0 as used in http://www.ivank.net/BRUSHSTP.ttf.

[2015-04-03 06:06] fdb commented on #104
Actually, I checked: there is a cmap table, but it contains a format we don't support (platformID 1, encodingID 0).

Currently we only support fonts that have cmap tables containing a platformID 3, encodingID 1 or 0 subtable. This is Microsoft's format for Windows, which supports Unicode values.

Apple's [own TrueType documentation](https://developer.apple.com/fonts/TrueType-Reference-Manual/RM06/

[2015-04-10 21:01] davelab6 opened #106 "Support for 'SVG ' table"
The `SVG` table has been added to the ISO OFF and Microsoft OpenType specification. It would be really great to support this in opentype.js :)

[2015-04-22 09:29] F2X opened #107 "How to get TeX math font metrics?"
Hi, I would like to use [LatinModernMath-Regular](http://en.wikipedia.org/wiki/Computer_Modern#Latin_Modern) font to render math on a canvas.

I've used FontForge to inspect the *.otf file and I have a TeX entry with 3 sub-entries: TeX General, TeX Math Symbol and TeX Math Extension.
Is there a way to get these metrics using opentype.js?

[2015-04-22 12:27] fdb commented on #107
Apparently these are [non-standard extensions used in FontForge](https://fontforge.github.io/non-standard.html). We don't support them.

Since there aren't many TeX fonts, I suggest writing a plugin for FontForge that extracts the metrics data.

What do you want to use it for?

[2015-04-22 12:41] F2X commented on #107
I would like to draw a math expression Glyph-by-glyph on a canvas.
I have a custom format representing a math expression, which is not MathML neither LaTeX, and I have to create a renderer for that. I'm currently in a research step/phase.

[2015-04-22 12:46] fdb commented on #107
Unfortunately we don't have support for those tables, so you'll have to find another way. Python fontTools, which converts a TTF file to XML, might do the job as well, although I don't know if they have support for the TeX tables either.

[2015-04-22 12:50] F2X commented on #107
Thanks, I will try it.

[2015-04-22 12:56] moyogo commented on #107
fontTools can handle the MATH table. That table does the same thing as those non standard Fontforge TeX tables.

[2015-04-26 18:30] fdb commented on #28
We now run JSCS together with JSHint.

[2015-04-26 18:30] #28 closed

[2015-04-27 13:47] oriSomething commented on #28
hey, how about adding tools like `mocha` and `chai`, and then starting making unit tests when new features added? :)

[2015-04-28 07:45] fdb commented on #28
@oriSomething You're right! This is long overdue.

This reason why we haven't done this is because it all starts with bytes, and making unit tests that say: "here's this unreadable byte-stream, will this match up with this data structure" makes them defeat the purpose, I think.

It would be useful to catch regressions this way, though.

[2015-04-28 07:51] oriSomething commented on #28
i totally understand you. i'm not a big fan of TDD in new projects, but at this time of the project it can start to be useful, and make adding new features much easier.
if it's not something that needed now, i can scaffold the base of having the ability to use unit testing easily, and after this we can add more and more tests with time. but it will be more like in 3-5 weeks 'til i can sit on it.

[2015-04-29 16:48] seltzlab commented on #71
@rvnath I'd be interested too to find a solution to this problem. Did you found something good at the end?

[2015-05-02 05:35] rvnath commented on #71
Hello seltziab,

Our business use case was may too much complex.
=> The use case was to develop electronic signboards billing site, where we determine the no. of LED glow bulbs within a set of letters.
=> we had to draw not just one middle path. but many paths would come within a letter's glyph depending upon the stroke width of the glyph.
=> Stroke width of even a single glyph varies at different

[2015-05-05 14:16] F2X commented on #107
Yes, I saw that, it's probably more relevant to use these.
For now I'm using static values from FontForge for the font constants I need (e.g. fractionNumeratorShiftUp, Radicals values ...), but I'm always looking for something to do it dynamically, font independant

[2015-05-05 15:37] mattsonar commented on #82
If there is another way please forgive me, but I found the fsSelection bitfield to be useful for style/weight as referenced in the opentype.js Font Inspector demo.

This is the linked doc: https://www.microsoft.com/typography/OTSPEC/os2.htm#fss

You can access from a font like this:
var fsSelection = myFont.tables.os2.fsSelection;

Once that is done you can use bitwise operators to come up with an

[2015-05-05 17:58] jardakotesovec opened #109 "closePath performance"
Hi,
this is outstanding project. I am currently evaluating performance to see how much text I can draw in real time using opentype.js.

I noticed interesting thing in Chrome and Safari on OS X. I tried to profile what takes most of the time when I `getPath` and `path.draw` functions. And outlier was closePath which is taking about 95% of the time. So if I comment `closePath` in `Path.js`, I get si

[2015-05-06 16:08] jardakotesovec opened #110 "relative position of baseline in font height"
Is there trick how to get relative position of baseline within font height? For example when I set fontSize as 50px - I would like to know where the baseline sits. I can imagine that I can get yMax and yMin if I calculate metrics for all glyphs in font, but I hope for something faster.

Thanks!

[2015-05-07 08:23] fdb commented on #110
Glyphs are always placed on the baseline (also called the origin), so you need to subtract the ascender to get at the top corner. For that you could use the ascender, available as `font.ascender` (or also `font.tables.hhea.ascender`). Use that value together with `font.unitsPerEm` to get the value for your font size:

    var top = font.ascender / font.unitsPerEm * 50;

[2015-05-07 08:25] fdb commented on #109
`closePath` is necessary for drawing the outlines of fonts: otherwise the curve will not be closed.

I'm not really sure why `closePath` would be slow in browsers.

There could be a special case where we avoid `closePath` if you're just trying to fill the path. However, `getPath` needs to return a closed path, since we can't know what it's going to be used for.

[2015-05-07 08:57] jardakotesovec commented on #110
Thanks!

[2015-05-07 08:57] #110 closed

[2015-05-07 09:08] jardakotesovec commented on #109
Thanks for explanation. I suspect that some browsers expect having beginPath and closePath in pairs, so it get confused when there is more closePath calls, because it might not know which path to close. I don't know :-).

[2015-05-07 20:25] mattdesl opened #111 "Line Height"
Is there a recommended way to determine the line height of a font? i.e. With FreeType it would be `face->height`.

[2015-05-08 14:58] mattsonar commented on #111
I don't think there are a lot of default values exposed directly in the API, however, you can definitely use the sTypoAscender, sTypoDescender and sTypoLineGap in the OS/2 table.

This is described in the recommendation section here: https://www.microsoft.com/typography/OTSPEC/recom.htm

Basically you would want to use the formula: sTypoAscender - sTypoDescender + sTypoLineGap.

So you would acces

[2015-05-12 18:20] fdb opened #112 "Add export support for kerning"
Support both the `kern` table and `GPOS`.

[2015-05-12 18:20] fdb opened #113 "Add export support for ligatures."
Support specifying ligatures using `GSUB`.

[2015-05-12 18:25] fdb opened #114 "Add support for writing values into tables."
Just like you can access the font values using `font.tables.name`, we should also have support for writing directly into tables.

Add support for:
- [ ] `head`
- [ ] `hhea`
- [ ] `name`
- [ ] `OS/2`
- [ ] `post`

[2015-05-13 03:05] davelab6 commented on #114
I propose porting the ttx api

[2015-05-13 15:55] Pomax commented on #114
I second that proposal.

[2015-05-13 20:26] mattlag opened #115 "Exporting fonts must set UPM=1000, even if their UPM is higher than that."
Ran into a bunch of issues when trying to export a font where it looked like the letter spacing and line height / bounding box were all messed up:

![image](https://cloud.githubusercontent.com/assets/5897669/7619748/a6464d3a-f96f-11e4-912a-feca0defabf9.png)

Finally figured it out that the setting options.unitsPerEm = 1000 *regardless of the font's UPM* solved the issue:

![image](https://cloud.gi

[2015-05-14 09:14] fdb commented on #114
Sounds like a good idea to me!

[2015-05-14 09:23] fdb commented on #115
Thanks for the detailed report Matt; I'll look into it next week.

[2015-05-16 20:08] kuckir commented on #104
It seems strange, when opentype.js is supposed to read and write font files, but you recommend other software.

Can you make opentype.js read platform 1 encoding 0 as if there was a 3-1 instead? I.e. convert 1-0 into 3-1 while parsing, and then just continue like nothing happened. I think there are plenty of fonts, which are not "aware" of what Apple considers as "traditional". It would be very us

[2015-05-16 20:18] kuckir opened #116 "Rendering error"
I discovered an error while drawing using my font (incorrectly drawn characters). I think the error is because of incorrect parsing of curves. Can you take a look at it?

Here is my font: http://www.ivank.net/Bentham.otf

[2015-05-17 20:26] fdb commented on #104
Sure, but it still requires a parser for the specific encoding, which we don't have.

However, since the Apple `cmap` format 0 is so simple, I'll see if I can add it soon.

[2015-05-17 20:27] fdb commented on #116
That looks weird -- I'll take a look soon.

[2015-05-17 21:59] kuckir opened #117 "Not rendering OTF correctly"
Hi, I have this font file http://www.ivank.net/AbrilFatface-Regular.otf and opentype.js does not render characters from Latin Extended-A group. However, charToGlyph() returns a glyph.

Here is an image: http://www.ivank.net/abril.png

[2015-05-19 10:23] bitinn opened #118 "unknown operator error printed when opening a CJK font"
The font is https://github.com/adobe-fonts/source-han-sans

The code I use: https://github.com/bitinn/character-map

[code]

The errors I see:

[code]

[2015-05-19 10:25] bitinn commented on #118
My guess is they are no big deal (I do get the characters at the end), but how can I suppress it?

[2015-05-20 08:11] rkusa commented on #115
I seem to have the same issue. I am playing with replacing my own font implementation in [pdfjs](https://github.com/rkusa/pdfjs) with opentype.js. Chrome, Firefox (pdf.js) and Mac Preview are displaying the font correctly, however, Adobe Reader messes it up:

![screen shot 2015-05-20 at 10 08 24](https://cloud.githubusercontent.com/assets/409021/7721511/7778c834-fed8-11e4-9197-c2d559f4390a.png)

P

[2015-05-20 09:09] fdb commented on #115
@rkusa That's weird -- can you send me the font + code you used to generate this?

[2015-05-20 17:33] mattlag commented on #115
I thought I'd add this as well -

Here is my font export code:
https://github.com/mattlag/Glyphr-Studio/blob/master/dev/js/io_otf_export.js

Which relies heavily on the Glyph object:
https://github.com/mattlag/Glyphr-Studio/blob/master/dev/js/obj_glyph.js

I first encountered this, and documented a lot of details in this bug:
https://github.com/mattlag/Glyphr-Studio/issues/176

In the process I us

[2015-05-20 18:18] fdb commented on #115
@mattlag thanks so much! I'll investigate and let you know.

[2015-05-21 11:32] adishavit opened #119 "Hebrew Fonts"
I noticed that when loading a right-to-left font (like a Hebrew font), the letters get generated from left to right.
Is this by design?
If I reverse the input string (assuming I know the language and there are no mixed characters), would the kerning be correct?

[2015-05-21 12:28] fdb commented on #119
You're right, we don't take direction into account when rendering the font, assuming LTR direction.

I wouldn't trust kerning values in the other direction. You should reverse kerning pairs then as well.

Is there an open-source Hebrew font I can test with?

[2015-05-21 12:36] davelab6 commented on #119
http://fonts.gstatic.com/ea/alefhebrew/v4/download.zip

http://fonts.gstatic.com/ea/opensanshebrew/v3/download.zip

http://fonts.gstatic.com/ea/opensanshebrewcondensed/v3/download.zip

http://fonts.gstatic.com/ea/notosanshebrew/v3/download.zip

[2015-05-21 12:36] adishavit commented on #119
[This site](http://www.oketz.com/introduction/) has lots of info about Hebrew fonts and [a bunch of them for free](http://www.oketz.com/fonts/good.html).

The [Ubuntu font](http://font.ubuntu.com/) also supports Hebrew.

[2015-05-21 13:51] adishavit commented on #119
Another issue with blind reversal might be diacritics: לַגּוֹפָן יֵשׁ נִקּוּד מְתֻכְנָת
Any string reveral will have to make sure these are resevred as well, so that: אָלֶף is not turned [ףֶלָא](https://mothereff.in/reverse-string#%D7%90%D6%B8%D7%9C%D6%B6%D7%A3) (and this is with a tool designed for reversing Unicode strings!)

[2015-05-21 13:56] davelab6 commented on #119
On 21 May 2015 at 15:36, adishavit <notifications@github.com> wrote:

It was designed but not yet published :( cc @sladen

[2015-05-21 14:01] adishavit commented on #119
@davelab6 : Yeah, that's why I removed it...

[2015-05-21 14:03] davelab6 commented on #119
Sorry, replying via email :) I'll edit the web version now

[2015-05-21 14:05] adishavit commented on #119
Just found this discussion [here](https://github.com/mathiasbynens/esrever/issues/5).

[2015-05-21 14:05] sladen commented on #119
Indeed, and even more one design was done for Hebrew.  The addition of the Arabic/Hebrew (both with full diacriticals) to existing base .ttf caused regressions by changing the line-height metrics.  There is something in the works for solving that.  If somebody needs an alpha version for eg. doing some work with diacriticals on the two Semitic scripts I'm happy to assist in getting one; but it's no

[2015-05-21 14:18] fdb commented on #119
@davelab6 I'm curious – what's the fonts.gstatic.com domain? Is that an "official" place to download OTF fonts?

[2015-05-21 14:28] davelab6 commented on #119
On 21 May 2015 at 17:18, Frederik De Bleser <notifications@github.com>
wrote:

Its a Google CDN domain. The links are from www.google.com/fonts/earlyaccess

[2015-05-21 14:29] fdb commented on #119
Thanks — I wondered what the `/ea/` was for.

[2015-05-21 14:30] davelab6 commented on #119
On 21 May 2015 at 17:05, Paul Sladen <notifications@github.com> wrote:

The problem is that if you do this, the new scripts will be VERY small at
the same pt/px size... its better to release them as separate families, and
use fontconfig rules to fall back from one to the other.

[2015-05-27 04:59] iamzfj opened #120 "what about the "vmtx" table"
what about the "vmtx"  table,i need it to render text vertically

[2015-05-29 15:06] felipesanches commented on #106
@davelab6, can you place a link to the appropriate specs here, please?

[2015-05-29 15:24] moyogo commented on #106
@felipesanches the usual place for OT specs:
http://www.microsoft.com/typography/otspec/SVG.htm

[2015-06-03 20:22] #115 closed

[2015-06-03 20:29] fdb commented on #115
I've tracked the bug to the CFF fontMatrix, which defines an affine transform for the glyph outlines. The fontMatrix defaults to `[0.001 0 0 0.001 0 0]`which works fine with fonts with a UPM of 1000. Other fonts need to set the matrix to a different scale value, e.g. fonts with a UPM of 2048 use 1/2048 = 0.000488281.

OpenType.js didn't set the fontMatrix anywhere, and so all fonts used the defaul

[2015-06-03 20:34] mattlag commented on #115
Awesome - thanks! I'll update to 0.4.7 and let you know if anything goes wrong.

[2015-06-03 20:43] fdb commented on #115
@mattlag please use version 0.4.8, which I just pushed (and includes the fix).

[2015-06-03 20:45] mattlag commented on #115
Great - will do. Thanks.

[2015-06-03 20:51] davelab6 opened #121 "Implement compreffor"
Similar to #73 , port https://github.com/googlei18n/compreffor from py/c++ to js :)

[2015-06-03 21:14] behdad commented on #73
Note that the feature-simplify-operator branch is very primitive at this time and needs more work.  For example, I don't think it supports hinting data right now.

[2015-06-04 22:47] felipesanches opened #122 "font.toBuffer() crashes due to the presence of an undefined element in the strings list"
The bug was fixed in the in-tree copy of opentype.js used in Metapolator:
https://github.com/felipesanches/metapolator/commit/003d95c330ef9828056c7754567adf55d04ed1bf

This is a report in the hope the issue gets fixed upstream as well.

[2015-06-08 22:22] gabrielstuff opened #124 "Getting the bounding box of a text"
Hi !
I'm trying to get the bounding box of a whole font. Not from each glyph.
Do you plan to integrate it as feature ?

Thanks

[2015-06-09 09:34] fdb commented on #124
The font contains data for this, stored in the `font.tables.head` table as `xMin`, `xMax`, `yMin` and `yMax`. So to retrieve the maximum height of all characters, use `font.tables.head.yMax`.

[2015-06-10 13:29] raphaelyancey commented on #43
I'd be happy to see WOFF support too!

[2015-06-15 06:01] dhowe opened #125 "how to get the width of a space in a particular font-size?"
not sure if this is a bug, but glyph.getMetrics() for a space returns:
[code]

currently I'm using the following to get the width:
[code]

[2015-06-17 16:37] yurenju opened #126 "UI rendering is blocked if loads a large font"
I try to load a Chinese font [DroidSansFallbackFull.ttf](https://github.com/android/platform_frameworks_base/blob/master/data/fonts/DroidSansFallbackFull.ttf) to render CJK font but it will block UI rendering and I can't interact with my website for few seconds.

after profiling startup process, I found the root cause is parsing font to glyphs in synchronized way.

![2015-06-16 5 42 25](https://cl

[2015-06-18 04:39] Pomax opened #127 "Glyph.toSVG or Path.toSVG?"
Is there any API for converting glyphs or paths to SVG, instead of drawing them onto a context? Especially on the Node side of things these are relatively necessary (glyph lookup REST servers, for instance).

I can trivially implement one as

[code]

but having it built in would be very nice, especially if it came with an option to round outline fractionals to however-many-decimal-places.

[2015-06-18 05:27] Pomax opened #128 "Trying to parse three fonts, all three render incorrectly."
I'm trying to use the free fonts Epson Kyokasho (a textbook font), Ume Mincho S3 and Ume Gothic C4, and am trying to extract the character 間 from each, but seem to be getting the wrong outlines in all three cases.

The outlines I get via Opentype.js lets me generate the following SVG, which looks remarkably wrong:
[code]

In JPG form:

![screenshot 36](https://cloud.githubusercontent.com/assets/17

[2015-06-18 05:56] Pomax commented on #128
If I run these fonts through my PHP parser, I get the following (unscaled) outlines for 間:

Epson Kyokasho:
[code]

Ume Mincho S3:
[code]

Ume Gothic C4:
[code]

[2015-06-18 06:15] Pomax opened #129 "Passive font loading?"
I tried to use OpenType.js to load a set of nine Japanese fonts (think 13500ish glyphs per font) totaling less than 50 MB on disk, and was rather surprised to see memory grow to 1625MB before Node.js crashed with a memory allocation failure error =)

To explain how disastrous the full load really is: normally you want to memory map a big font, and then only do glyph outline fetching when those gly

[2015-06-18 06:24] yurenju commented on #126
this morning I just realize previous patch breaks `opentype.load()` & `font.getPath()` so I added an new optional argument `lazyParsing` to `opentype.load(url, [lazy,] callback)`

let's wait build result on travis-ci.

[2015-06-18 18:33] Pomax commented on #129
I had a look at where this would require changes, by turning the font.glyphs array into a GlyphSet object with deferred parsing, but you're using the total glyph list in *a lot* of places to further load data. Probably still worth doing, since the switch from array to deferred loading won't change how the font behaves and will allow progressive improvement of the code once landed, but it looks lik

[2015-06-18 19:42] Pomax commented on #128
Hm, running the fonts through the opentype.js `bin/server` test server shows them rendering correctly. Will investigate further...

[2015-06-19 05:07] Pomax commented on #128
Turns out the SVG collapse does not work, but an SVG interpreter like this, does:
[code]

[2015-06-19 05:08] #128 closed

[2015-06-19 05:09] Pomax commented on #127
As per https://github.com/nodebox/opentype.js/issues/128, the above function doesn't work. However, this does:

[code]

And then feeding that into a `draw` call, to draw "to string" rather than to a canvas:

[code]

[2015-06-19 06:07] Pomax opened #132 "Kozuka Mincho and Kozuka Gothic throw a ton of "unknown operator" errors"
Using Adobe's Kozuka fonts with OpenType.js results in a whole lot of errors about unknown operators. It looks like it's not decoding the CFF charstring properly...

These two fonts are not free, but come "for free" with any Adobe CC product like Illustrator and Photoshop (including the trial versions), so testing with these fonts should be pretty easy.

[code]

[2015-06-19 06:27] miguelsousa commented on #132
Similar to #118

[2015-06-19 06:34] miguelsousa commented on #132
@Pomax perhaps you could expand `cff.js` as it was done in #91 and #89.

[2015-06-19 10:04] yurenju commented on #129
This issue looks related to #126, looks like the same issue.

[2015-06-19 15:54] Pomax commented on #132
I don't see a counter comment on #118, but they are a really big deal: the glyphs I'm trying to render look positively destroyed compared to what they *should* look like =)

I am not going to work on the code unless I absolutely have to (I've spent so much time working on font parsers in the past that I really don't like writing the same code yet again, it literally makes me a very irritable and a

[2015-06-19 16:56] Pomax commented on #132
I would recommend simply taking an already proven correct parser for CFF, though, such as the one used by PDF.js over at https://github.com/mozilla/pdf.js/blob/bf20334bea5433915f133e590e223ca8ff2bde32/src/core/fonts.js#L5883

[2015-06-20 09:04] fdb commented on #132
Thanks, will take a look at it.

[2015-06-20 17:11] phoenicyan opened #133 "Can opentype display .fon fonts?"
I'm looking for a way to display both .ttf and .fon fonts. Is it possible?

[2015-06-20 19:18] Pomax commented on #133
Opentype.js is for loading OpenType fonts, so it will happily load `.ttf` (The "TrueType" variant) and `.otf` (The CFF/"Type2" variant) fonts. Fonts with the `.fon` extension are a really old bitmap format (they're Windows executables with a 16 bit image inside of them) and are not supported by Opentype.js

[2015-06-21 19:04] Pomax opened #135 "Don't load `htmx` table until it's actually needed"
The hmtx table loads all glyph `advanceWidth` and `leftSideBearing` values, which is fine for small fonts but for large fonts this puts *a lot* of data  in memory. Instead of loading all data during `hmtx.parseHmtxTable`, called from `opentype.js:parseBuffer`, it would be much nicer to only load in a glyph's values the first time those values are actually needed. The glyph prototype could be assig

[2015-06-22 02:20] yurenju commented on #126
duplicate it to #129

[2015-06-22 02:20] #126 closed

[2015-06-22 08:12] fdb opened #136 "Clean up / add examples"
Currently, all the "example" scripts, like `write.html` and `readwrite.html` are stored in the root directory.

I would like to put these in a proper "examples" directory, clean them up and add more comments.

[2015-06-22 08:36] #129 closed

[2015-06-22 08:45] fdb commented on #135
I like this.

[2015-06-25 04:41] Pomax commented on #120
vmtx should be relatively straight forward to implement, as it shares the same layout as hmtx (but with the bearing being a top rather than left bearing).

[2015-06-25 04:46] Pomax commented on #107
a thought: table parsing plugins, where a plugin can say "I know how to parse a table with directionary tag `XYZ_` and can yield that table as object via parseTable and encode to binary using encodeTable" or something. That way OpenType.js itself doesn't need to get bogged down with nonstandard code, but we can offer an OpenType/addons, for instance, that comes with things like "MATH" parsing (pro

[2015-06-25 04:53] Pomax commented on #104
there are in fact almost no fonts that still use 1/0 (No one's making them anymore, and even those that traditionally use that setting have been moved to a modern unicode cmap). Technically you can't just pretend cmap format 0 is another format, they're all [rather quite different](http://www.microsoft.com/typography/otspec/cmap.htm), but format 0 is terribly simply: it pretends 256 characters is

[2015-06-25 04:55] Pomax commented on #105
I'd somewhat advocate not bothering with this - the format is so old nothing makes these fonts anymore (the format 0 cmap is horrendendously inadequate for anything but toy fonts =)

[2015-06-25 05:01] davelab6 commented on #107
:+1:

[2015-06-25 05:31] bitinn opened #139 "opentype.js having problem processing ttf font extracted from ttc"
OK, I will admit this is a confusing case, but this is what we believe we know so far:

- OS X El Capitan comes with a new default system font for Chinese users, aka `PingFang`. So I am trying to analyze it with opentype.js' Font Inspector.
- Between their Developer Preview Beta1 and Beta2, Apple made some changes to this font, naturally, I want to see what's the difference.
- The steps I use is a

[2015-06-25 06:56] fdb commented on #107
@Pomax I like this! However, it's not just about the tables. For example, sometimes there is a certain order in which we have to parse the table (e.g. `maxp` first to find out the number of glyphs). And once you have the data, how would it integrate with the higher-level `Font` and `Glyph` objects?

I think this is related to #67 and #72: providing a low-level table parsing / writing API, and a hi

[2015-06-25 09:09] blackgear commented on #139
PingFang DP2 removed "platform 3" cmap tables:
see DP1 ttx file:
[code]
DP2 ttx file:
[code]

see: https://github.com/nodebox/opentype.js/blob/master/dist/opentype.js#L2720
[code]
without cmap table with platformId == 3, the code is broken as designed.

well, actually the platformId == 0 and platformId == 3 use the same table data in DP1:
![untitled](https://cloud.githubusercontent.com/assets/4780

[2015-06-25 09:20] bitinn commented on #139
Thx @blackgear!

https://github.com/nodebox/opentype.js/blob/master/src/tables/cmap.js#L19-L36

Looks like #105 is related to this problem.

[2015-06-25 09:26] bitinn commented on #105
Looks like Apple just decides to use platformID = 0 for their default system font, see #139

[2015-06-25 09:32] moyogo opened #140 "glyph-inspector: CFF/OTF glyphs are loaded after they need to be displayed"
In the glyph-inspector example page, the pagination doesn’t load the glyphs outlines before they are displayed for CFF/OTF fonts. They are only visible after reloading the pagination page. This happens since #131.

[2015-06-25 10:25] fdb commented on #139
@bitinn not quite. PlatformID = 0 is used for the ["Unicode platform"](https://www.microsoft.com/typography/otspec/name.htm). Bug #105 refers to PlatformID = 1 (Mac), EncodingId = 0 (ancient 256-character encoding).

It seems that Apple's encoding is correct. Platform ID = 0, Encoding ID = 3 is Unicode 2.0 and onwards semantics. This is similar to Platform ID = 3, Encoding ID = 1.

I might try thi

[2015-06-25 21:46] cyrilcoutelier commented on #140
I don't know if this is related, but I had a similar issue.
I was doing
[code]
and now I have to do
[code]

[2015-06-26 04:15] Pomax commented on #107
hm, indicating the "required for a full parse" set should be fairly straight forward. A resolution callback should be relative easy: per loader indicate dependency tags in an array, and each time a table is loaded in, you splice that tag from the dependency list. Is the list empty? load this plugged-in table.

Also, there is a clear load order when it comes to non-standard tables: first the requir

[2015-06-26 07:36] fdb commented on #107
I agree. I was being a bit pedantic, thinking how a fully bootstrapped, everything-is-a-plugin approach could look. But that's perhaps taking it a bit too far...

[2015-06-26 15:01] felipesanches commented on #95
Yes, I'm interested in working on this. I'll take a look at this today and see if I can do it or if I have any technical question.

[2015-06-26 15:12] davelab6 commented on #95
@felipesanches to be clear, this means implementing write support for the GPOS table.

https://github.com/behdad/fonttools/ has support for this in python, so basically the feature request is to port the fontTools code to opentype.js

[2015-06-26 15:14] felipesanches commented on #95
great!

[2015-06-26 15:55] fdb commented on #95
Awesome :+1:

[2015-06-26 16:06] Pomax commented on #107
yeah keeping the true OT "approved" parsing the way it is makes a lot of sense (as non-negotiable, fixed set of tables). But if the additional table parsers turn out to be really to implement, thee's always the option to refactor =)

[2015-06-26 18:18] mattlag commented on #95
:smile: :tada:

[2015-06-27 03:40] davelab6 commented on #95
I see that https://github.com/nodebox/opentype.js/issues/112 and https://github.com/mapbox/node-fontnik/issues/85 are related

[2015-06-27 07:46] miguelsousa commented on #132
What's happening is that the parser is not taking into account that these are CID-keyed fonts and is stumbling into all the subroutines. The advanced widths are also messed up. @tshinnic addressed these things with PR #92. I did a bit of testing and these are the before and after screenshots using Kozuka Mincho:
**before**
![kozmin_before](https://cloud.githubusercontent.com/assets/2119742/8391019

[2015-06-27 11:04] fdb commented on #132
Yeah I agree. I just need to find to go through it.

[2015-06-28 00:16] Pomax commented on #132
sweet!

[2015-06-28 10:10] brawer opened #144 "Handle multilingual names"
OpenType and TrueType fonts can have names in multiple languages. For example, MacOS 10.10.3 ships a font whose name is `Hiragino Mincho Pro W3` in English and `ヒラギノ明朝 Pro W3` in Japanese. To represent this in JavaScript, the name parser could work with dictionaries whose keys are  [IETF BCP 47 language tags](http://www.w3.org/International/articles/language-tags/); these are the same IDs that are

[2015-06-28 18:25] kuckir commented on #117
Hi, can somebody take a look at it? I really need some library to render OTF fonts.

[2015-06-29 08:51] fdb commented on #104
I'm going to agree with @Pomax: I don't think it makes sense to increate the code size of opentype.js for a completely obsolete format.

We're thinking about adding plugins for parsing, though. When we have this, it might make sense to add plugin support for the format, so we can avoid having it in core.

[2015-06-29 08:51] #104 closed

[2015-06-30 02:07] felipesanches commented on #95
Ok... I've been reading the specs and getting used to the source code and now things are a bit clearer.

For starters, the proposed setKerningValue method will probably require the user to pass a 2-dimensional vector (dx, dy) because the kerning adjustment can also happen in the Y-axis.

We may accept both types of data, defaulting dy to zero if a single value is passed instead of the pair of offs

[2015-06-30 02:07] felipesanches commented on #95
In order to implement the makeGposTable function (that encodes the GPOS table) we need access to the relevant data. Given that our current GPOS parser is incomplete, the output GPOS table will be incomplete as well.

[2015-06-30 02:08] felipesanches commented on #95
While we may be happy about parsing only a portion of the table, the opposite may not be true. I guess that OTF files with incomplete GPOS tables might annoy the parsers of other programs. Anyone here knows if this is the case?

We may consider improving the parser before actually implementing the encoder.

[2015-06-30 02:08] felipesanches commented on #95
Even if we decide to implement the encoder without improving the parser first, the current parsing code will have to be modified. That's because currently it exposes the kerning values by dinamically creating a getKerningValue function that operates on the parsed data that is only accessible to this function because it is trapped in its bound subtables variable (by creating a closure).

In order t

[2015-06-30 02:15] felipesanches commented on #95
I'm working on an implementation of the GPOS encoder at this feature branch:
https://github.com/felipesanches/opentype.js/tree/makeGposTable

I'll keep ammending that in the upcoming days until I reach a state that I consider acceptable for a pull-request.

[2015-06-30 02:26] davelab6 commented on #95
Are you sure 2d vectors? I thought it was either h or v, not both at once,
but might be wrong.

I recommend looking at fontTools to make output you are  aiming for and
checking it against ots if you aren't sure if ever you'll do is valid

I also don't  think you need to support all feature and lookup types, just
the ones for Latin to start

[2015-06-30 02:32] felipesanches commented on #95
yes, I've been studying fontTools as well.

Regarding the Latin features, I agree that's a good start. My point is that perhaps void featureList and scriptList entries may lead to programs considering the file corrupt. Or even crashing perhaps. I have no idea. Would be good to know if it is safe to output a GPOS table without those entries.

[2015-06-30 02:57] davelab6 commented on #95
I don't  know but I guess you can ttx a font and remove these parts and see
how it goes

Also: Check the adobe fdk feature file syntax too :)

[2015-06-30 22:37] felipesanches commented on #95
Regarding 2d verctors...

"To properly render Urdu, a text-processing client must modify both the horizontal (X) and vertical (Y) positions of each glyph."
https://www.microsoft.com/typography/OTSPEC/gpos.htm

[2015-07-01 01:47] khaledhosny commented on #95
You have horizontal and vertical advances and offsets, so 4 possible values to modify and all can be set at once.

[2015-07-01 01:53] davelab6 commented on #95
Cool :)

[2015-07-01 02:34] mattlag commented on #95
@khaledhosny what is the difference between an advance and an offset?

[2015-07-01 10:48] khaledhosny commented on #95
The offset affects the X and Y position where the glyph is drawn (without affecting the position of the next glyph). The advance controls how much the line advances after the glyph i.e. controlling where the next glyph will be drawn.

[2015-07-01 17:02] mattlag commented on #95
I'm not sure i'd expect to set a glyph's advance through a kerning function - correct?  Probably just x and y offsets (with zero as the default).

If the Kerning value between two glyphs is reduce by, say, 100, the advance width of the left glyph overlaps with that of the right glyph.  It's not like the right hand glyph gets drawn at -100, but the two advance widths are still added as if no kernin

[2015-07-01 18:14] khaledhosny commented on #95
This is advance width adjustment for specific context e.g. a kerning pair, not the actual glyph advance which is stored elsewhere in the font. Actually Latin kerning is simply changing the advance width of the first glyph in the kerning pair.

OpenType have even more generalised contextual positioning which can be used for kerning as well, pairwise positioning is just a kind of shortcut for the co

[2015-07-02 20:19] felipesanches commented on #95
"A pair adjustment positioning subtable (PairPos) is used to adjust the positions of two glyphs in relation to one another-for instance, to specify kerning data for pairs of glyphs. Compared to a typical kerning table, however, a PairPos subtable offers more flexiblity and precise control over glyph positioning. The PairPos subtable can adjust each glyph in a pair independently in both the X and Y

[2015-07-02 20:38] mattlag commented on #95
Interesting, so the full arguments would be something like (Glyph1x, Glyph1y, Glyph2x, Glyph2y) with the basic Kerning scenario only requiring Glyph2x, and default to 0 for everything else.

[2015-07-02 21:04] khaledhosny commented on #95
You need four values for each glyph in the pair (x offset, y offset, x advance adjustment, y advance adjustment).

[2015-07-04 05:25] behdad commented on #95
To model what most people recognize as kerning you just need the original proposed Font.setKerningValue(l,r,v).  I don't think there's any point in supporting more advanced GPOS positioning using a simplified API like this.

[2015-07-04 10:24] khaledhosny commented on #95
But that wouldn't support RTL kerning. OK may be the API can have an optional direction parameter and when it is RTL set both the X offset and advance adjustment of the first glyph in the pair.

[2015-07-04 11:47] behdad commented on #95
The API doesn't need a direction, whereas the code generating GPOS lookups from these numbers should take script direction into consideration when adding lookups to scripts.

From an API point of view, there's no ambiguity what it means by leftGlyph, rightGlyph, and value.

[2015-07-04 15:22] khaledhosny commented on #95
I’m not concerned about which is the left and which is the right glyph, but rather which PairPos values the function will set. For LTR kerning only the *x advance adjustment* of the first (left most glyph) need to be set, but in LTR kerning **both** the *x advance adjustment* and the *x offset* of the first (right most glyph) need to be set. So the API need to address this in a way or another.

[2015-07-08 07:39] behdad commented on #95
I understand that.  But again, I don't think it needs to be reflected to the API.

Look at it this way: to adjust the rsb of a glyph, you only change X advance.  To adjust the lsb, you update both X advance and offset.  This is a universal rule that can be deducted from the OpenType glyph model.

Now, what this means for GPOS kerning is straightforward: if you are making changes to the left-side g

[2015-07-08 08:49] khaledhosny commented on #95
But the fact that the glyph being adjusted will end up being the rightmost or leftmost glyph in this case is only known at the layout time when the glyph stream is reversed (the font developer knows this beforehand of course because he can tell which glyphs will be used in RTL context).

Lets say I was to kern the Latin `AV` pair, here the first glyph in the pair is `A` which it will be the leftmo

[2015-07-08 10:34] graphicore commented on #95
I think this is the core of the problem. Is it always possible to deduce the correct direction for a kerning pair? How does it work?

[2015-07-08 16:47] davelab6 commented on #95
@felipesanches you might like to review https://github.com/devongovett/fontkit/pull/7

[2015-07-09 12:01] behdad commented on #95
That would be wrong.  The API specifically says that the first argument is leftGlyph, and second argument is rightGlyph.

The code generating the feature files MUST know that under 'arab' script, first glyph is the rightmost one.  So when encoding a lookup to be used under 'arab', it encodes the rightGlyph first.  That has nothing to do with the API.  And I'm not going to repeat that again :).

I'

[2015-07-09 12:38] behdad commented on #95
Here:
https://github.com/unified-font-object/ufo-spec/issues/16#issuecomment-119947719

I hope I don't have to repeat myself more than this. :)

[2015-07-09 12:39] behdad commented on #95
Re "he can tell which glyphs will be used in RTL context" that's a completely different argument.  For most glyphs the script is known to Unicode.  For script=Common characters, sure, the user can give a hint as to which punctuation and other marks one wants to be included in kern table for each script.  But all of these are really separate APIs.  They do *not* justify the change suggested here.

[2015-07-09 14:28] graphicore commented on #95
and

I hope I'm not too pesky here. But how does this API know which script applies for the call to `Font.setKerningValue(l,r,v)`? Is there some hidden state, like a call to `Font.setActiveScript('ARAB')` before? Or the unicode database?

It seems that the other APIs are not that separate at all. There must be somewhere the knowledge how to construct the right lookup style and you are missing to t

[2015-07-09 15:33] behdad commented on #95
See my reply here: https://github.com/unified-font-object/ufo-spec/issues/16#issuecomment-120036174

[2015-07-17 11:21] #144 closed

[2015-07-19 09:47] wzr1337 opened #150 "exports.loadSync = loadSync missing in npm package opentype.js@0.4.9"
The npm package does not come with the loadSync function from the README.md

Using

opentype.js@0.4.9

[2015-07-28 22:12] felipesanches opened #152 "Adopt Pomax's A-binary-parser-generator in OpenType.js"
Manually parsing the complex datastructures of the OpenType file format is very time-consuming and error prone. And also results in verbose-code with lots of code duplication and which is tipically hard to read, understand and debug.

The approach presented by @Pomax in his "A binary parser generator" project  available at https://github.com/felipesanches/A-binary-parser-generator seems very good

[2015-07-28 22:23] devongovett commented on #152
I've been using my [restructure](https://github.com/devongovett/restructure) project for this. It supports both decoding and encoding all sorts of data types, and as a result of being developed for [fontkit](https://github.com/devongovett/fontkit), it works [pretty well](https://github.com/devongovett/fontkit/tree/master/src/tables) for the OpenType format. 😜

[2015-07-28 22:28] felipesanches commented on #152
I like the fact you seem to provide much more documentation than we get on Pomax's project.

I am also glad to see the description of the LazyArray, which is something I was expecting to see implemented in whatever solution we choose for performance reasons.

Also, it is nice to see you're working with require.js in a way that makes your solution more likely to be easily reusable as a dependency o

[2015-07-28 22:34] felipesanches commented on #152
This looks good:
https://github.com/devongovett/fontkit/blob/master/src/opentype/GPOSProcessor.coffee

But it seems not all opentype tables are supported yet?
Also, the code seems slightly harder to read than Pomax's spec file syntax. I'll have to get used to that if we choose to go on with adopting your project here. I'm not totally convinced yet :-)

[2015-07-28 22:36] devongovett commented on #152
The tables are [here](https://github.com/devongovett/fontkit/tree/master/src/tables)

[2015-07-28 22:38] felipesanches commented on #112
Issue #152 may be the way to go!

[2015-07-28 22:45] felipesanches commented on #152
Pomax's project provides a test page with a binary-file element inspector which I liked a lot. Looks very good for testing & debugging.

![pomax_otf_inspector](https://cloud.githubusercontent.com/assets/213676/8945805/2ff437f4-3561-11e5-9c57-bebca7396679.png)

[2015-07-28 23:49] miguelsousa commented on #152
I don't see a `CFF.coffee` file so I'm guessing that OpenType-CFF fonts are not supported.

[2015-07-28 23:50] devongovett commented on #152
They are, just in a different folder: https://github.com/devongovett/fontkit/tree/master/src/cff

[2015-07-28 23:51] miguelsousa commented on #152
Nice!

[2015-07-28 23:53] Pomax commented on #152
To be fair: my project was a PoC that I never got enough time to properly redo (there's a lot of ES6/ES2015 that can be sprinkled in to drastically increase the efficacy of a spec based approach), so the lack of docs is really because it's a lack of "this is done in any way, shape, or form" =)

(iirc there wasn't even all that much in the way of the Common Layout tables like GSUB/GPOS)

[2015-07-29 00:33] felipesanches commented on #152
@Pomax have you already looked at @devongovett 's work on Restructure ? Would you vouch for it being used on OpenType.js instead of your binary-parser-generator ?

[2015-07-29 00:57] davelab6 commented on #152
I also wonder what @fdb and @brawer think :)

[2015-07-29 01:07] Pomax commented on #152
I hadn't see restructure yet, it's now on my "to have a look at" list although I probably won't get to that until later in the week

[2015-07-29 01:59] felipesanches opened #153 "Font.prototype.stringToGlyphs behaviour is wrong"
The documentation specifies that:

"Font.stringToGlyphs(string)

Convert the string to a list of glyph objects. Note that there is no strict 1-to-1 correspondence between the string and glyph list due to possible substitutions such as ligatures. The list of returned glyphs can be larger or smaller than the length of the given string."

But the code does not follow those rules (yet):

// Convert th

[2015-07-29 02:00] felipesanches commented on #153
Same issue with these:
* Font.prototype.charToGlyph
* Font.prototype.charToGlyphIndex

[2015-07-29 05:49] behdad commented on #152
I have been thinking about this for about a year now.  Really like Restruscture and was going to talk to Devon about it when I get back to California.

In my vision, there should be one spec of font formats that is maintained centrally, and used to generate data / code for each language (C, Python, JS).  But in the end this is so much work for no added benefit, so I won't personally be working on

[2015-07-29 05:50] behdad commented on #152
Note that compiling GSUB /GPOS needs table sharing logic. Devon, do you implement that?

[2015-07-29 07:22] devongovett commented on #152
I haven't tried compiling the GSUB/GPOS tables yet, but they should work since they are defined using types from restructure. As for table sharing logic, restructure doesn't currently have a way for two different pointers to point to the same place.

[2015-07-29 13:09] felipesanches commented on #152
Basically we would need to calculate a checksum for each subtable and then optimize the serialization when checksums are equal. Or maybe some other procedure equivalent to that.

[2015-07-29 13:12] felipesanches commented on #152
I guess that encoding the tables without this optimization would still produce valid OTF files. It's just that their size would be larger, which is undesirable. But I don't see programs being unable to handle reading the unoptimized tables. So it seems to be an issue of size optimization, instead of a matter of compliance to the file format spec.

[2015-07-29 13:14] felipesanches commented on #152
OK. I just registered an issue about that:

https://github.com/devongovett/restructure/issues/20

[2015-07-29 19:39] felipesanches commented on #152
Another good thing about restructure is that it's got lots of mocha tests (a total of 234).

[2015-07-29 21:06] felipesanches commented on #152
So... after spending the afternoon inspecting the source code of these projects I came to the conclusion that it is not really restructure that we would use here, but instead we would actually be using fontkit, which has restructure as a dependency.

But then, fontkit's description is much like the opentype.js project description... Are these two projects actually trying to solve the same thing? H

[2015-07-30 05:42] Pomax commented on #152
that is certainly an important question to answer.

[2015-07-30 09:43] fdb commented on #152
Initially, when developing OpenType.js, I also had table specs (check out [the first commit](https://github.com/nodebox/opentype.js/blob/891a3b9f1152fa60cc1e8ae421e99702fe0fa9aa/opentype.js) for example). Even though I'm a fan of the declarative approach, I soon discovered that a purely declarative approach is problematic. For some tables, e.g. `head`, the declarative approach works really well. H

[2015-07-30 10:15] fdb commented on #150
This is now fixed, please use 0.4.10.

[2015-07-30 10:15] #150 closed

[2015-07-30 10:40] fdb commented on #125
Hmm that's not good. The metrics are calculated from the glyph outlines, but since there are no outlines the glyph is considered to be infinitely big.

The advanceWidth is a good solution for calculating spacing between glyphs, though.

[2015-07-30 12:25] moyogo commented on #152
@davelab6 had listed a few projects trying to solve the same thing in byte-foundry/prototypo#115
@bramstein's [opentype](https://github.com/bramstein/opentype) is still actively being developed.
I’d also add [fonteditor-core](https://github.com/kekee000/fonteditor-core) by @kekee000 used in [fonteditor](https://github.com/ecomfe/fonteditor).

[2015-07-30 17:05] Pomax commented on #152
From a personal perspective, it's also nice to have options as a user. Right now, I can use harfbuzz or freetype2 or roll something quick and dirty using a TTX export of a font, and having that same freedom in JS land is great: I can use OpenType.js or Fontkit, and they have their respective strengths and weaknesses (format and specific shaping support, memory footprints, etc). So I'm tempted to p

[2015-07-31 03:46] devongovett commented on #152
Some history about fontkit for those who don't know: it was originally written for [PDFKit](http://github.com/devongovett/pdfkit), my PDF generation library, over 4 years ago, and existed as a part of that project for a while. Then, I kept getting a ton of bug reports about font issues, much of which were related to complex script support. So, a couple years ago I started writing fontkit as it exi

[2015-07-31 15:18] nordisk opened #155 "Subsetted font: Failed to decode downloaded font"
Hi guys.
I am creating a subsetted TTF from a TTF like:

[code]

[code]

When I try to use this font with a @font-face I get a `Failed to decode downloaded font` message in browser. Any clues? Any help really appreciated.

[2015-07-31 18:12] nordisk commented on #103
I just encountered this bug again #155

[2015-08-07 17:38] steren commented on #124
The original request was to get the bounding box of a given text as a Path I guess.

I think it would be great if the Path object would contain such information.

[2015-08-13 23:03] eric-schleicher commented on #124
+1.  We need this for a project we're working on.  Is this as simple as determining the min/max x and min/mix y and creating a box from the command data?

I might try and do this right now.

[2015-08-20 08:56] mukeshcp opened #156 "support In IE 9 browser"
Hi,
does Opentype js work on IE9 browser?

while run opentype js in IE browser,It gives error :   SCRIPT5009: 'DataView' is undefined

Any alternate way?

[2015-08-20 15:50] fdb commented on #156
OpenType.js uses typed arrays. They're implemented starting from IE10:

http://caniuse.com/#feat=typedarrays

They're the way we operate on the data, so it's not trivial to replace them with something else.

I saw there was a polyfill for them, but haven' t tested it: https://gist.github.com/Benvie/5020656

You could try to load that code before opentype.js and see if it works.

[2015-08-22 09:17] pranavcp commented on #156
If i integrate polyfill.js, it stops execution on line number 369
at
      if (!(buffer instanceof ArrayBuffer)) {
        throw new TypeError('DataView must be initialized with an ArrayBuffer');
      }

any reason?

[2015-08-30 07:25] create3000 opened #157 "Composite glyphs must be initialized first."
In order to get composite glyphs to work, I found out that I have to 'initialize' the affected normal glyphs first:
Before I can use any composite glyph I found this workaround, than everything is fine:

		      // Workaround to initialize composite glyphs.
		      for (var i = 0; i < this .font .numGlyphs; ++ i)
					this .font .glyphs .get (i) .getPath (0, 0, 1);

I this due to the fact, that th

[2015-08-30 07:30] create3000 opened #158 "Glyph .getPath does not return all the sub-paths from composite glyphs"
If I call getPath on a glyph, it does not return all the sub-paths.

The workaround is to manually collect all sub-paths from the glyphs components:

				if (glyph .isComposite)
				{
				   for (var c = 0; c < glyph .components .length; ++ c)
				   {
				      var component = glyph .components [c];

				      paths .push (font .glyphs .get (component .glyphIndex) .getPath (component .dx / font .

[2015-09-01 08:17] fdb commented on #158
What do you mean exactly? All the points should be there, merged together.

If that's not what you want, you can use Glyph.getContours(), which will return a list of contours.

[2015-09-08 21:30] dhowe commented on #125
This has been working for me until just now, when I encountered a font for which the 'space' glyph does not have an advanceWidth property:

![opent](https://cloud.githubusercontent.com/assets/737638/9747975/d41037d4-56b3-11e5-9e08-61cab3fabb45.png)

[2015-09-08 21:40] dhowe commented on #125
Any chance of an update to get the right metrics for a space (we are still special-casing it in our app)?

[2015-09-09 07:57] fdb commented on #125
Can you send me the font that doesn't have the advanceWidth value for space? You can email it to me directly (frederik@debleser.be) if it's not freely available.

I'll see if I can update the getMetrics code, in any case.

[2015-09-09 10:46] possan commented on #157
Thank you! this solved my problem with composite glyphs!

[2015-09-09 10:47] possan commented on #157
For further debugging, just use http://nodebox.github.io/opentype.js/glyph-inspector.html load a font, try to write some swedish umlauts (åäöÅÄÖ) and they will display as (aaoAAO)

[2015-09-18 22:17] felipesanches opened #159 "OTF files generated by Metapolator are rejected by Apple's validator"
Metapolator is using OpenType.js to output OTF files.
We got a new issue filled in our issue tracker that may actually be an OpenType.js bug, so I'm referencing here in case the fix needs to be implemented upstream.

The original issue is filled here: https://github.com/metapolator/metapolator/issues/649

[2015-09-24 23:11] timo22345 commented on #43
I made an example of woff to otf conversion: http://jsbin.com/rijuvad.

It uses https://github.com/arty-name/woff2otf, which uses https://github.com/nodeca/pako/blob/master/dist/pako_inflate.min.js.

Above is a text rendered by opentype.js draw() and below is normal fillText.
![screen shot 2015-09-25 at 02 10 13](https://cloud.githubusercontent.com/assets/2405021/10089313/aa85fde4-632a-11e5-8e9d-9

[2015-09-25 19:52] timo22345 commented on #43
opentype.min.js is 79.9 KB.

woff2otf.min.js is 1.13KB.

pako_inflate.min.js. is 22.19KB.

<a href="https://github.com/nodeca/pako">Pako</a> says it is "Almost as fast in modern JS engines as C implementation".

Could this be the method to allow loading WOFF into opentype.js?

If reverse is needed (is it?), then there is need for also Pako deflate which is 26.3 KB.

Other possibility is to make us

[2015-09-26 10:35] fpirsch commented on #135
Could be nice, just be aware that putting a getter on a heavily used property on every glyph could affect performance.

[2015-09-26 11:31] fpirsch commented on #159
Hi,
just tried to validate an opentype.js generated font with Microsoft Font Validator, and got these:

OS/2 table
* The usFirstCharIndex is not valid (actual = 0x0000, calculated = 0x0041)
* The usBreakChar is not mapped to a glyf (0x0020)

hhea table
* The Descender value must be less than zero Descender = 0

post table
* The isFixedPitch field is zero, but hmtx shows the font as fixed pitch

Th

[2015-09-26 17:03] fdb commented on #159
I read the Metapolator bug report. I don't really want to guard against illegal names in the font, but I want to look at the other tables.

I've used [ots](https://github.com/khaledhosny/ots) in the past to ensure fonts were valid. I'd love to check if there were any regressions.

Could you send the test font to me?

[2015-09-26 17:30] fdb commented on #43
Cool! I'll look at Pako next week.

[2015-09-26 17:39] #140 closed

[2015-09-26 18:47] Pomax commented on #135
depends on how poorly you implement it. An array backed object that grows itself as it's consulted is perfectly fine. The initial hit will be as slow as the data traversal has to be, after that it's the same speed as accessing any other LUT.

(I already did this for glyphs in https://github.com/nodebox/opentype.js/pull/131, the idea was to simply port the same approach to hmtx. Unfortunately, I've

[2015-09-26 19:01] fpirsch commented on #135
I was just talking about simple property access vs a getter function call.

[2015-09-27 05:49] Pomax commented on #135
The nice thing about a getter is that things are still JS, so with some clever code you can actually overwrite a getter with the static binding once you have all the data in. But, agreed! Benchmarks are always good.

[2015-09-27 10:14] fpirsch commented on #135
What we are saying here is that there are two use cases for a font:
* general font information, which should parse only parts of the file
* glyph rendering, which requires parsing the full font file
This could also be implemented with options passed to the opentype.parse() method, or a new method like e.g. opentype.parseHeaders().

[2015-09-27 10:22] moyogo commented on #140
@fdb I can still reproduce the bug when opening an OTF in glyph-inspector.html.

[2015-09-27 18:56] fdb commented on #140
Locally or on opentype.js.org? I forgot to update the gh-pages, I'll do that now.

[2015-09-27 19:32] #158 closed

[2015-09-27 19:44] #125 closed

[2015-09-27 19:44] fdb commented on #125
@dhowe This should be fixed in release 0.4.11.

[2015-09-27 19:56] fdb commented on #135
Actually, I think things are a bit more complex than just the two cases. If I'm only interested in drawing properly kerned text, there's a lot of stuff that gets loaded in memory that I don't care to retain.  I can imagine a "low-memory mode" wherein we're just trying to "carve" through the values as fast as possible, like cutting through the jungle with a machete. (e.g. in  `head` parse just `uni

[2015-09-27 21:00] Pomax commented on #135
Actually, glyph rendering *definitely* does not require parsing the full font file. That would blow up memory instantly for large fonts, like the CJK fonts that actually implement 30,000 glyphs that use a lot. The absolute last thing a font parser need to do there is load every into memory regardless of whether any of the glyphs and associated metadata are going to end up being used.

[2015-09-27 21:02] timo22345 commented on #43
I was a bit worried about adding 22.19KB Pako Inflate to opentype.js, and fortunately I found another library, Imaya zlib.js, which is only 6.82KB and seems to be significantly faster than Pako (at least in this very limited test with one woff font).

IMAYA:
Test: http://jsbin.com/zororo/edit?html,js,output
Source: https://raw.githubusercontent.com/imaya/zlib.js/master/bin/inflate.min.js
Source si

[2015-09-27 21:15] devongovett commented on #43
If you're worried about file size, https://github.com/devongovett/tiny-inflate is only 1.3KB min+gzipped. Probably not the fastest library, but it's definitely one of the smallest.

FWIW, not sure how you're measuring performance, but pako has been the fastest library in my tests, and according to [their own benchmarks](https://github.com/nodeca/pako).

[2015-09-27 22:13] timo22345 commented on #43
I tested tiny-inflate, but it gives Data error:
http://jsbin.com/gifota/edit?html,js,output

This is how I measured the performance:

PAKO:
[code]

IMAYA:
[code]

If you find any flaws in performance measuring, please report.

[2015-09-27 23:24] dhowe commented on #125
excellent, thanks...

[2015-09-29 08:13] timo22345 commented on #43
I made a SO question about the native DEFLATE/INFLATE support: http://stackoverflow.com/questions/32838795/native-deflate-inflate-in-browsers.

Hopefully this is coming to browsers some day. Until it we have to make use of libraries.

[2015-09-29 13:59] timo22345 commented on #43
I got also Tiny-Inflate working by stripping a 2-byte header from compressed buffers, and in addition to that it is tiny, it is also fast: only 6 ms in my test.

Pako advertises itself to be the fastest, and devongovett says that tiny-inflate is slower than Pako, but this test shows opposite. Maybe this is due to that the buffer lengths are rather small:

[code]

[2015-09-30 18:09] puzrin commented on #43
@timo22345 try to do couple of dummy passes before measurement. JS JIT needs to collect stat to warm up and reoptimize underlying code.

[2015-09-30 18:26] timo22345 commented on #43
@puzrin Thanks for the tip! I just tried that, but can't get it to go below 33ms in OSX Chrome.

[2015-09-30 19:27] timo22345 commented on #43
@puzrin Yes, you were right. It was my measurement. I was pressing always the JSBIN run button.

When I added an own Execute button, the code runs in minimum of 1.5 ms. The first run is always about 35ms, but then the next is 2 - 20 ms and finally when warmed up the final higher speed is reached. Funny!

This is the code with Execute-button:
http://jsbin.com/cevotu/1/edit?html,js,output

[2015-09-30 19:57] timo22345 commented on #43
This "warming up" means that those other libs also run faster after warmup.

The performer in unwarmed test (Tiny-Inflate) runs also in 1.2 - 1.5 ms when warmed up (using Execute-button):
http://jsbin.com/daliba/1/edit?html,js,output

I have to test these libs more with larger fonts and report here the results in various font sizes.

[2015-09-30 20:44] puzrin commented on #43
You can do estimate without any additional measurements :) . Inflate speed is usually 30-100 mb/sec, depending on implementation. Font size is << 10mb. Unpacking will take 0.3 sec in worst case (that will never happen in real world).

[2015-10-01 07:11] fpirsch commented on #43
@timo22345 Using your examples, tiny-inflate runs always faster here (Firefox: ≈6ms before warm-up, ≈1ms after). With its tiny size, it could be a winner.

[2015-10-03 18:54] fdb commented on #43
That looks awesome! I'll look at tiny-inflate on Monday.

[2015-10-05 09:32] fdb commented on #43
Okay, I tried with both Pako and tiny-inflate. For tiny-inflate, I had to strip the two-byte header as @timo22345 suggested (Thanks Timo!). Both seem to be working fine, but since tiny-inflate is smaller, I prefert it over Pako.

The code is in the [woff-support](/nodebox/opentype.js/tree/woff-support) branch, if anyone wants to check it out.

I'll test some more with different fonts, then release

[2015-10-05 10:23] puzrin commented on #43
@fdb, FYI there is raw deflate stream, and wrapped deflate data. Wrapped data has 2-bytes header and 4-bytes Adler checksum tail. I guess, tiny deflate supports raw streams only, but that's enougth for your needs.

[2015-10-06 07:47] #43 closed

[2015-11-06 08:12] jardakotesovec opened #163 "lineGap"
I have recently been doing something with freetype.org library and noticed that there is global metric for font called `lineGab` as addition to `ascender` and `descender`.

[Docs](http://www.freetype.org/freetype2/docs/glyphs/glyphs-3.html#section-2) says:
*linespace = ascent - descent + linegap*

With opentype.js I have been operating only with ascender and descender to decide about line height,

[2015-11-06 18:58] eric-schleicher opened #164 "Multiline"
This is more of a questions than an issue.

Is there a reason (techical/philospical) not to support the generation of multiline text?

i can see how this might be considered to be too high level function for open type as it (perhap not so) subtly implies the handling of handling justifications and line heights

Generally, i would expect that in most fonts there is information (either explicitly or

[2015-11-11 11:32] Jolg42 commented on #113
@fdb Hi! Do you know if someone is working on it ?

[2015-11-11 21:12] fdb commented on #113
I don't think anyone is. Do you know anyone who would like to work on it? I'd be glad to show them around the codebase.

[2015-11-12 18:53] eric-schleicher commented on #163
+1 i'm interested in this as well..

[2015-11-19 13:25] Jolg42 commented on #113
@fdb Sorry for my late response. So how do you estimate the time / effort on this feature ? Because I will be interested to work on it or sponsor someone to do it.

[2015-11-19 23:40] eric-schleicher commented on #163
@jardakotesovec are you calculating line height successfully? similarly to your mention here  I'm using the same formula with very unsatisfactory results.

Even if I add in the font.tables.hhea.lineGap, I cannot seem to get a line spacing that seems to make sense.

The bottom example here is a multi line that I've implmented.  have you had any better luck?

![image](https://cloud.githubusercontent

[2015-11-20 08:34] jardakotesovec commented on #163
![screenshot 2015-11-20 09 21 51](https://cloud.githubusercontent.com/assets/1590681/11294998/37beb016-8f68-11e5-954d-467b175b50e8.png)

You can see some discussion about font inconsistencies [here](http://www.freetype.org/freetype2/docs/tutorial/step2.html#section-3)

I am just using ascender and descender values and it works nicely for fonts I have used (including yours). We have custom line spa

[2015-11-25 14:34] Jolg42 opened #166 "Font validation error on `name` table with Font Book"
Hi,

I have this problem when I want to install my opentype.js generated font on my MacBook.

<img width="618" alt="screenshot 2015-11-25 15 27 30" src="https://cloud.githubusercontent.com/assets/1328733/11399695/46e17928-9389-11e5-9c99-e4eb02401a5e.png">

There is a problem with the `name` table,

Maybe I need to add some options ?

The font is working but the errors warning are a problem for us

[2015-11-26 18:59] fdb commented on #166
Hi,

I'm running in to this very same problem myself as well. I'm looking into it.

I've noticed that it is not a problem when re-exporting existing fonts, so I'm trying to bisect the issue to find out which parameters need to be set. However, this is a very tedious process....

[2015-12-01 09:20] fdb commented on #166
After some digging, it seems the `fullName` name needs to be set for Font Book to validate the font. Furthermore, if you want Font Book to actually *display* the letters, setting the `postScriptName` is also important.

I'm working on auto-generating these names. However, you can do this yourself right now by just setting the correct names:

    var glyphs = [...];
    var font = new opentype.Font

[2015-12-01 15:49] fdb commented on #166
This is fixed in opentype 0.6.0. Also, I've made sure the "Quick Look" preview works as well (related to an internal encoding issue).

[2015-12-01 15:49] #166 closed

[2015-12-01 15:52] fdb commented on #159
I haven't tested this with Metapolator, but in my testing generated fonts now work well on OS X.

I've added examples on how to generate fonts in the examples/ folder, e.g. `examples/generating-font-node.js` (this is for node.js, but works almost exactly the same in the browser).

[2015-12-01 15:53] fdb commented on #159
Sorry, forgot to mention: this is with opentype.js version 0.6.0.

Please let me know if it works for you, so I can close this issue.

[2015-12-01 21:35] Jolg42 commented on #166
@fdb Great! :+1: Thank you! It's working for me too :)

[2015-12-02 16:41] Jolg42 commented on #113
@fdb Do you have an idea about my last question ?

[2015-12-03 20:23] eric-schleicher commented on #163
Sorry for the delayed response.  I was missing the units per em.  once correcting that I was able to ultimately achieve the same result that you're showing here.  Thanks @jardakotesovec!

[2015-12-04 23:21] fdb commented on #113
Every estimate depends on who is going to do the work. I'm not familiar with the GSUB tables as well. This code was written by other people, mostly @fpirsch and @moyogo.

A conservative estimate would be around 2-3 weeks, if you've never seen the codebase.

Unfortunately, I'm in my final PhD year and have no time to work on a bigger feature like this myself. I hope you can understand.

[2015-12-08 19:03] louisremi opened #167 "Validate newly created fonts to check that advanceWidth is set"
I updated the opentype.js that powers plumin.js (and prototypo.js, and Prototypo), and then all fonts that we generated couldn't be loaded in the browser.

It took me quite some time to realize that [glyphToOps](https://github.com/nodebox/opentype.js/blob/master/src/tables/cff.js#L950) was tweaked some time ago and that an `advanceWidth` property was now required for every glyph, including `.notde

[2015-12-10 18:29] fdb commented on #167
You're absolutely right: we should validate the input data, since there is no useful output data we could generate.

I'll update the bug title to reflect that we want a validation step.

[2015-12-12 13:31] lixiangliu opened #168 "Unicode values outside Basic Multilingual Plane cannot be processed correctly."
For example:

`font.stringToGlyphs('\u{2f894}')` will return an array with two “.nodef” in it.
<img width="419" alt="2015-12-12 21 26 42" src="https://cloud.githubusercontent.com/assets/10280733/11762111/0fcb0a76-a117-11e5-98a3-87f744a44504.png">

If `font.glyphs.glyphs[...]` is being used to access a certain glyph directly, then it will return an object with an undefined unicode value.
<img width

[2015-12-14 02:43] lixiangliu commented on #168
It seems this is the limitation of cmap format, since format 4 only supports 16-bit unicode value.

[2015-12-15 10:08] fdb commented on #168
Would it help if we parsed a different cmap format?

[2015-12-15 10:28] lixiangliu commented on #168
In that case, cmap format 12 is probably a good choice then, it’s widely adopted and the superset of format 4.

[2015-12-15 20:42] fThues commented on #164
+1, that would be great to have.

[2015-12-16 13:11] fdb commented on #164
Multi-line text is certainly a good idea! This would probably only be supported for western languages, though (I have no experience with the layout of complex scripts, where we get into Harfbuzz territory).

[2015-12-16 15:37] eric-schleicher commented on #164
I have some code that I could share here.  Its essentially a (very basic)
multiline object and provides control over basic justification.

Im not particularly proud of it, but a better developer might find it
useful.

Let me know
On Dec 16, 2015 5:11 AM, "Frederik De Bleser" <notifications@github.com>
wrote:

[2015-12-17 15:21] fdb commented on #164
Not claiming I'm a better developer, but I would love to take a look :-)

[2015-12-31 10:09] Jolg42 opened #169 "Ascender & Descender are required in 0.6.0 - Why?"
Hi @fdb

I was wondering why theses values `font.ascender & font.descender` are required because I found that when exporting the font, if font.ascender is not defined for example the yMax is computed on all glyphs (so it is more accurate I think) https://github.com/nodebox/opentype.js/blob/0.6.0/src/tables/sfnt.js#L193

[2015-12-31 11:01] moyogo commented on #169
@Jolg42: yMax is the y coordinate of the tallest glyph while font.ascender represents the top of the line height (another metric can represent the typographic top of letters with ascender, useful when aligning things). These are not necessarily the same, in most fonts they aren’t.

Suppose you have one off symbol that is really tall and it’s top provides the yMax, you don’t want to use that as a f

[2015-12-31 11:27] Jolg42 commented on #169
@moyogo Yes, Thank you for the explanation, I see the difference :) So maybe we can clean the code because ascender & descender are now required and can't be undefined ?

https://github.com/nodebox/opentype.js/blob/0.6.0/src/tables/sfnt.js#L193
[code]

to

[code]

What do you think ?

[2016-01-07 22:23] fdb commented on #169
I've made this change because this kind of guessing magic always comes back to bite me (and you as well, probably). Also, it causes errors when exporting fonts if you're not careful (for example, when subsetting fonts).

Simplifying the code a bit is a good option, yes.

[2016-01-13 00:22] megaghz opened #170 "got errors when try to exec the samples"
cd examples
npm start

sh: mkdirp: command not found

[2016-01-13 08:05] fdb commented on #170
I just checked and `mkdirp` is specified in the `package.json`'s `devDependencies`. Maybe try `npm install` again (older versions didn't use mkdirp)?

[2016-01-13 15:15] #170 closed

[2016-02-14 10:46] defue commented on #46
Any news on Arabic language support? Are any right-to-left languages supported?

[2016-02-15 02:51] davelab6 commented on #46
@defue what do you mean by "arabic language support"? I think you would need harfbuzz transpiled to javascript.

[2016-02-15 03:20] devongovett commented on #46
[fontkit](http://github.com/devongovett/fontkit) has an arabic shaper (mostly ported from harfbuzz).

[2016-02-15 07:50] zoghal commented on #46
if need javascript reshaper can use this [persian-reshaper](https://github.com/font-store/persian-reshaper)

[2016-02-15 11:49] fdb commented on #46
The scope of OpenType.js is not to do perfect typesetting for all locales. For that you'll probably need OpenType.js + Harfbuzz.

Alternatively please check out @devongovett's excellent [fontkit](https://github.com/devongovett/fontkit).

[2016-02-16 08:26] defue commented on #46
By "Arabic language support" I meant ability of "stringToGlyphs" method to correctly convert a string into Arabic glyphs. I'll look at the options advised here. Thank you all!

[2016-02-16 08:45] fdb commented on #46
You're right, I thought you were talking about the type setting. The stringToGlyphs we probably do want. There we still need some work to support the OpenType (I think `GSUB`?) tables.

[2016-02-17 17:01] Jolg42 opened #171 "Implementation of leftSideBearing / LSB"
Hi,

The leftSideBearing is currently forced to 0 (see -> https://github.com/nodebox/opentype.js/blob/master/src/glyph.js#L167)

We need to use it to handle margins, so I wondered why it was implemented this way, are there any specific reason to set it to 0?

Happy to contribute on that :)

[2016-02-18 08:31] fdb commented on #171
We normally do set it later though, when we parse the  [hmtx](https://www.microsoft.com/typography/otspec/hmtx.htm) table: https://github.com/nodebox/opentype.js/blob/master/src/tables/hmtx.js#L24

Do you find that this is not working? Maybe we parse them in the wrong order?

[2016-02-18 12:30] defue commented on #46
Is there anything I can do to speed up the development of Arabic and other right-to-left languages support?

[2016-02-18 14:10] davelab6 commented on #46
It seems fontkit is pulling ahead for that usecase

[2016-02-18 16:02] Jolg42 commented on #171
Yes you're right in fact there is just one thing missing it's the implementation in `glyph.getMetrics()`

Example : If `glyph.leftSideBearing = '11'`, `glyph.getMetrics()` is always returning 0

So I was thinking that we can change this (https://github.com/nodebox/opentype.js/blob/master/src/glyph.js#L162)
[code]
to
[code]

Here is my pull request by the way #172

[2016-02-20 10:35] fdb commented on #46
I'm currently finishing my PhD and don't have the time required to implement those OpenType features. As @davelab6 suggested you might want to look into FontKit for this.

[2016-02-21 20:24] #169 closed

[2016-02-21 20:25] #171 closed

[2016-02-27 03:15] focomoso opened #174 "Using web workers"
I'm trying to include opentype support into another open project (openJScad) that does just about everything in web workers. Because of this, opentype.load() defaults to loadFromFile (because there's no window). I've worked around this by just forcing load() to use loadFromUrl(), but I'm now getting a cross origin error when trying to load the file from my server.

"XMLHttpRequest cannot load . Cr

[2016-02-28 04:13] davelab6 commented on #174
I believe the @byte-foundry team may have some insight into this :)

[2016-02-28 10:31] fdb commented on #174
Technically there is no reason OpenType.js couldn't work in a web worker.

I would start to see if `opentype.parseBuffer` works in a web worker, giving the arraybuffer data you would get normally back from the AJAX request.

[2016-02-28 10:36] fdb commented on #174
Here is some completely untested example code:
[code]

[2016-03-01 15:47] FranzPoize opened #176 "Specifying OS2 values for weight, width and fsSelection"
Hi,

I would be cool to be able to choose this value during the fontToSfntTable function (right there https://github.com/nodebox/opentype.js/blob/master/src/tables/sfnt.js#L220).

I gonna make a PR to go with this issue.

[2016-03-02 08:45] fdb commented on #176
Yes I agree. Ideally you would be able to provide the full configuration of the table (of all tables, really).

[2016-03-02 14:13] FranzPoize commented on #176
Here is what I came up with. I'll wait for the problem with the last PR to be resolved and create the PR for this issue.

https://github.com/FranzPoize/opentype.js/commit/46afef8bf794b0d5b9bad1f16609ad6c7beb93a4

[2016-03-02 16:37] #133 closed

[2016-03-10 14:41] chearon commented on #176
I need this too, I'm not sure why it can't get the values from the font object when `toArrayBuffer` is called. That's what I'd expect

[2016-03-11 13:59] fdb commented on #176
@FranzPoize problem with other issue is fixed -- so if you can make a PR I can look at it.

The issue that's bothering me (not with this code, with OTF in general) is that the value is duplicated in a number of places. Ideally there would be a single master "width" setting that would then get applied to the different tables.

[2016-03-11 14:12] #167 closed

[2016-03-11 14:13] FranzPoize commented on #176
@louisremi is currently looking at my work and trying to make it work with parsed otf file (my commit had trouble with these) and we'll make a PR when our code is ready.

I think one problem with having one master is that when parsing you can't assume otf file will have the correct values everywhere I guess. On our side we don't really care and we could make it work with only a master width but we

[2016-03-14 01:04] Artoria2e5 opened #178 "font-inspector: cmap.glyphIndexMap always appears as [object Object]"
For example, the default font file on https://nodebox.github.io/opentype.js/font-inspector.html.

[2016-03-14 12:25] fdb commented on #178
Yes, there is no decoder yet for that part of the structure. We should add one.

[2016-03-14 12:26] fdb commented on #178
Code is here for reference: https://github.com/nodebox/opentype.js/blob/master/font-inspector.html#L147 (and if you want to hack on it yourself)

[2016-03-14 13:53] Arthur2e5 commented on #178
`` `<pre>${JSON.Stringify(value, null, 2)}</pre>` ``works but looks absolutely absurd…

I should make a collapsible `<dl>`…

[2016-03-23 07:46] lgcc commented on #71
Wonder if anyone has a idea of this. I heard that Adobe's new project *Faces* for iPad can do such thing, yet it's not released

[2016-03-23 09:18] fdb commented on #71
Sorry, this is outside of the scope of OpenType.js. We will give you the glyph outlines as they exist in the font: you'll probably want to use an additional library for this. (Although I have no idea if there is a JS library that does this?)

[2016-04-09 12:21] kennethmac2000 opened #183 "Add support for WOFF2"
WOFF2 is now at Candidate Recommendation stage and is widely supported by the most popular browsers (including Chrome and Firefox).

Is it time to add support for it to opentype.js?

[2016-04-10 10:07] fdb commented on #183
Yes.

Can you recommend a good Brotli library for JS?

[2016-04-10 10:08] fdb commented on #183
For reference, the WOFF2 W3 doc: https://www.w3.org/TR/WOFF2/

[2016-04-10 10:41] joseluis commented on #183
I believe only the decompressor is needed, right? These are the libs I know of:

1. https://github.com/devongovett/brotli.js/tree/master/dec/ decode.js
  - Instead of using dictionary-data.js use dictionary-browser.js and dictionary.bin. The total extra size may well be less than 100kb.
1. https://github.com/dominikhlbg/brotlijs ([discussion](https://groups.google.com/forum/#!topic/brotli/Y28CS-a7

[2016-04-10 11:28] fdb commented on #183
Coo, I'll take a look.

Encoding would be cool as well as it would allow to write woff2 fonts (we don't do this for WOFF at the moment, but would like to support it there as well).

[2016-04-10 18:13] devongovett commented on #183
I'm using my [brotli.js](https://github.com/devongovett/brotli.js) project in fontkit. Recently ported the decoder to JS by hand instead of using Emscripten. That ended up being much faster and smaller.

There's a bit more to decoding WOFF2 fonts than just brotli though. Here's the source code from fontkit: https://github.com/devongovett/fontkit/blob/master/src/WOFF2Font.coffee.

[2016-04-10 19:44] fdb commented on #183
Thanks @devongovett! I know it's not just the decompression, but that's the part I didn't want to do myself :-)

[2016-05-01 10:26] HinTak commented on #139
Yes, Apple uses Platform ID = 0, Encoding ID = 3, and that to most intents and purposes the same as Platform ID = 3, Encoding ID = 1 . They are certainly equivalent for the common fonts supporting European languages.

[2016-05-01 10:34] HinTak opened #185 "Macintosh Unicode cmap (Platform ID = 0, Encoding ID = 3, Format = 4) support."
I have a font which shows

[code]

on https://nodebox.github.io/opentype.js/font-inspector.html

In reality it is just a perfectly valid font with a Macintosh Unicode 2.0 cmap (Platform ID = 0, Encoding ID = 3, Format = 4) . And to be honest, for small fonts supporting european languages only, or even English glyphs only, they are equivalent.

[2016-05-05 13:55] villanus commented on #124
Did this work for you?

[2016-05-05 13:58] panarch commented on #124
[svg-path-bounding-box](https://github.com/icons8/svg-path-bounding-box/) works well.

[2016-05-05 16:56] villanus opened #186 "Qustion: - What is the proper way to get measurements of an SVG Path"
I have loaded a ttf font, and created a path using the path.toSvg method.

now I am trying to figure out how to measure the size of the path using either Jquery of vanilla javascript.   When I load the path into an empty svg, I am not able to get the height or width.

What is the proper way to do this?

After 3 hours, I am still confused :8ball:

[2016-05-06 15:18] villanus commented on #110
Is there a way to get the height and width of a path?
lets say i write the words:
"example"
"Example"
"ooo"

All of them would have different heights given a specific font.

[2016-05-06 15:26] villanus opened #187 ".getPath - Kerning Support"
We constructing a path from a loaded font how do you control Letter Spacing (or Kerning) so that we can control the spacing between each letter?

[2016-05-06 15:38] Silverwolf90 commented on #186
You could give this a shot?

https://github.com/icons8/svg-path-bounding-box

[2016-05-06 15:39] Jolg42 commented on #187
Hi @villanus
In fact there the writing part is not implemented yet for the kerning so you can only read it.

[2016-05-06 16:26] villanus commented on #186
i am trying to do this in the browser not node

[2016-05-06 16:28] villanus commented on #187
got it.  it would be great to have kerning and alignment support.

[2016-05-06 16:32] villanus commented on #124
Sorry, i meant get the size when using in browser.

[2016-05-06 16:40] panarch commented on #124
You can use [svg-path-bounding-box](https://github.com/icons8/svg-path-bounding-box/) in browser.

[2016-05-06 17:48] villanus commented on #124
@panarch sorry, I am a little not familiar with how nodejs works.  Which of the .js files would I reference in the browser?

And how do I call it on a path?
Right now I have:
svgPath = path.toSVG(decimalPlaces);

[2016-05-06 23:31] maxmagu opened #188 "Support PingFang, please"
Steps:
Open https://nodebox.github.io/opentype.js/glyph-inspector.html and upload PingFang font.

Error:
TypeError: Cannot read property 'glyphIndexMap' of null

Also reported here: https://bitinn.net/11280/

[2016-05-07 06:04] panarch commented on #124
@villanus That's ok, yes it's true that svg-path-bounding-box lib does not provide minified version. So, if you want to use the lib, you may need to use browserify or webpack to make bundle js file.
May be it's just only commonjs used so it's good to simply use browserify.

It looks that the entry file is [caster.js](https://github.com/icons8/svg-path-bounding-box/blob/master/lib/caster.js)

Anywa

[2016-05-07 12:10] villanus commented on #124
Thanks,
I need to look into this browserify thing.

I have been avoiding NodeJS for the longest time, and now feel stupid when I actually need to use it. =)

[2016-05-07 12:31] panarch commented on #124
You're welcome, NodeJS will be ok, it's kind enough compared to web front-end...

[2016-05-09 10:42] fdb commented on #124
[RaphaelJS](https://github.com/DmitryBaranovskiy/raphael) also has `R.pathBBox` that can be used to figure out the dimensions. You can pass it path data as returned by OpenType.js's `Path.toPathData` method. Something like this:

[code]

RaphaelJS is self-contained, so just need to drop in the JS file.

[2016-05-09 12:56] villanus commented on #124
thanks

[2016-05-10 09:02] cuixiping opened #189 "Variable `btype` leaked to global scope (`btype` is not declared)"
Recently I wrote a tool to check all global variables in all javascript files of my project, and find that opentype.js leaked a `btype` variable.

I can see the following code in [dist/opentype.js](https://github.com/nodebox/opentype.js/blob/master/dist/opentype.js)

[code]

obviously, `btype` is not declared and will  leak to global scope.

It's caused by [tiny-inflate](https://github.com/devongo

[2016-05-10 09:49] #189 closed

[2016-05-10 09:50] fdb commented on #189
Thanks for reporting this! I've upgraded the dependency and released a new version.

[2016-05-10 10:17] fdb commented on #186
Closing, as this is a duplicate of #124.

[2016-05-10 10:17] #186 closed

[2016-05-10 10:19] fdb commented on #110
@villanus This is different from the height of a line of text. What you want is the bounding box of an SVG path. I know you're already aware of #124, I'm posting this for future reference.

[2016-05-10 20:24] villanus commented on #110
Thanks. I am using SVG.js to to a similar thing.
Thanks again!

[2016-05-11 18:37] fdb commented on #188
Hi — I'm currently overloaded with work. I would love to support Chinese fonts but I currently do not have the time.

[2016-05-11 18:38] fdb commented on #187
I agree. The simple `kern` table, which does simple horizontal adjustment, is easy to implement. The OpenType `GPOS` table is more full-featured but also a lot more complex.

[2016-05-16 20:16] hypothete commented on #124
SVGPathElements provide a getBBox method as well. If you're creating SVG path elements by parsing the string returned by `Path.toSVG()`, your path node will not be in the SVG namespace and will be a generic Element.
I've had more success calling `document.createElementNS('http://www.w3.org/2000/svg', 'path')` to create the path element and then applying the commands from `Path.toPathData()` to the

[2016-05-16 21:43] villanus commented on #124
@hypothete does this mean you did not have to use a 3rd party library such as SVG.js or Raphael?  If so, can you please put a code sample?  I read through your comment a few times and am not smart enough to follow. =)

[2016-05-16 22:31] hypothete commented on #124
@villanus for sure, here's what I mean. And to be clear, this is for the frontend only, not node.js:
[code]
Since I'm explicitly creating the element in the SVG namespace, its prototype is the [SVGPathElement](https://developer.mozilla.org/en-US/docs/Web/API/SVGPathElement) instead of a generic Element, and so it has additional methods like getBBox that you couldn't get otherwise.

Here's how to c

[2016-05-19 07:15] fdb commented on #124
Creating a SVG Path element correctly seems like something useful to add to the OpenType.js API (with a disclaimer that it only works in the browser environment).

I didn't know you had to add it to the DOM though! That's a bit silly.

[2016-05-19 13:19] Jolg42 commented on #124
@fdb yes… :(
For Node I know that [svgicons2svgfont](https://github.com/nfroidure/svgicons2svgfont/blob/master/src/index.js) is using [sax](https://www.npmjs.com/package/sax) for parsing xml & extracting svg infos + converting svg shapes to path.

[2016-05-19 21:21] villanus commented on #124
@hypothete Thank you!
@fdb I agree, it should be added to the core.

[2016-05-20 06:20] eric-schleicher commented on #124
Would jsdom support this?

I have other node code the uses createElementNS in jsdom in svg namespace
without issue.  I dont have an example where im getting bbox but will try
and report back
On May 19, 2016 2:48 PM, "Frank" <notifications@github.com> wrote:

[2016-05-30 04:40] kotpal opened #191 "Glyphs for complex-character string"
On Windows 10, Nirmala.ttf has the glyphs for almost all the languages (complex-scripts) from India.

If you load nirmala.ttf at http://opentype.js.org/ and try to render కృష్ణ, it is not rendered properly.

font.stringToGlyphs is also returning the glyphs that won't render the complex-string as కృష్ణ, but instead it renders it incorrectly.

My question is how can we get the proper glyphs along wi

[2016-05-30 05:29] sriharshachilakapati commented on #191
I think these complex scripts are positioned with kerning, for vattulu
etc., since the glyph needs to be rendered at the previous glyph. I'm not
sure, I'll test it to with my name today.

On Mon, 30 May 2016 10:10 am Krishna Kotipalli, <notifications@github.com>
wrote:

[2016-05-30 08:18] sriharshachilakapati commented on #191
I've verified and indeed this is true, even kerning is not able to solve this issue.

![Display in Glyph viewer](https://cloud.githubusercontent.com/assets/4593204/15643711/7ffed0ea-266c-11e6-952b-123053975cc1.png)

This needs to be that we have to ignore adding the advance if the character is  ్. I'll try with a test case. In my opinion, this has nothing to do with opentype.js.

[2016-06-13 00:37] Mottie opened #193 "Add support for openType SVG color fonts"
It looks like [Microsoft is adopting the openType SVG color fonts](https://lists.w3.org/Archives/Public/public-svgopentype/2016Mar/0014.html) format, so adding support for the SVG `colr` and `cpal` objects would be necessary.

I was trying to see if I could figure it out myself, but I am just now learning how to process `ArrayBuffer` objects and `DataViews`. That combined with figuring out an unfa

[2016-06-13 01:11] Mottie commented on #178
I just realized that the PR I made yesterday (#192) fixes this issue.

[2016-06-14 10:32] casperno opened #194 "Ligatures"
Hi,

I've spent some time with opentype, using it to load fonts used in txt.js. It was surprisingly easy, but I miss ligatures.

From what I can see in the code, opentypejs uses GPOS tables for kerning values. Isn't the GPOS also the table for ligatures? Anyone working on this now? If not, any pointer for me if I find the time to try and implement it?

Thanks to all developers for an amazing feat

[2016-06-14 11:28] fpirsch commented on #194
Hi casperno,
I wrote the GPOS code, and I am currently working on the GSUB which stores ligatures and other interesting features. I will submit some pull requests before the end of the month to support GSUB reading and (partial) writing.

[2016-06-14 11:48] casperno commented on #194
Fantastic! Looking forward to it.

[2016-06-14 14:25] fdb commented on #194
Hey @fpirsch that's great news! Let me know if I can help.

[2016-06-20 08:38] fdb commented on #178
It works but it could look better 😄

![screen shot 2016-06-20 at 10 37 43](https://cloud.githubusercontent.com/assets/8477/16187871/0c01a3da-36d3-11e6-92ae-6594d163846e.png)

[2016-06-20 18:09] Mottie commented on #178
You could update the css to make the block scrollable:

[code]

![2016-06-20 13_05_42-opentype js font inspector](https://cloud.githubusercontent.com/assets/136959/16205168/328afa1e-36e8-11e6-998b-affd9d7eb839.png)

[2016-06-20 18:23] fpirsch commented on #178
Still, it could look better ;-)
Do we really need to display hundreds or thousands of indexes here ? What for ? What would be the best view to make it easy to find useful information ?

[2016-06-21 16:16] mattdesl commented on #164
I just released [opentype-layout](https://github.com/Jam3/opentype-layout) which should handle basic word wrapping and new line characters. If nothing else, the source can be used as a reference for future work. :smile:

[2016-06-21 16:53] fdb commented on #164
Thanks @mattdesl, looks good!

I'm still pondering if this is something that falls in the scope of OpenType.js, or is something that can be handled through libraries.

[2016-06-21 17:06] mattdesl commented on #164
I personally don't think it should be in scope of Opentype.js, as it has the potential to bloat the library, become tied to application-specific rendering (i.e. making `lineHeight` act like CSS spec rather than typical print handling) and also is very hard to properly implement (i.e. Harfbuzz).

I think it's better to push things into user-land modules since npm has become pretty widely adopted by

[2016-06-21 17:20] fdb commented on #164
Well now I have a module to refer to 😄

[2016-06-21 17:58] fdb commented on #178
The best way might be to add extra info to the glyph inspector: to show the unicode mappings for every glyph index.

The question is what you would want to do with the information. The glyph index map is not the "raw" data stored in cmap. Cmap stores a number of segments -- maybe it's more useful to show those here, with hyperlinks to the correct glyph.

[2016-06-21 18:01] fdb commented on #178
@Mottie I've added the scrolling CSS tweak to make the view a bit more palatable. Thanks!

[2016-06-23 19:38] Jolg42 commented on #159
I think this issue can be closed?
Btw I just fixed the usFirstCharIndex and it was merged in master ;)

[2016-06-24 06:33] fdb commented on #159
Yep! Thanks!

[2016-06-24 06:33] #159 closed

[2016-06-24 06:38] fdb opened #198 "Generated fonts don't show up in Apple's font menu"
It seems OpenType.js doesn't set the correct fields for language and script, which means that OS X doesn't list them in font menus (you can still select the font from the font dialog.

To reproduce:

1. Generate a font, for example by running `node examples/generate-font-node.js`
2. Install the font on OS X
3. In Font Book, show the font info. Note that entries for "Language" and "Script" are miss

[2016-06-24 06:38] fdb commented on #198
Paging @Jolg42 — have you seen this behaviour as well? Any ideas on what could cause it?

[2016-06-24 08:18] Jolg42 commented on #198
Hi @fdb Yes I have the same behavior here on multiple macbooks…
The font is not showing in the main menu of TextEdit but in the "Show fonts" panel.
Maybe the "Language" and "Script" can help… We have to try!

Btw, we found a special behavior for Mac Pages, which do not show the font in the list if the font is not containing a certain range of characters (ie: a -> z  & numbers)

And also for Word 2

[2016-06-24 14:55] Jolg42 commented on #198
I just tried tweaking the OS/2 ulUnicodeRange1 & ulCodePageRange1 with value "1" for Latin like some other Latin fonts and it wasn't doing anything in the FontBook. (it's the only values that can indicate some language support that can be set manually).

But I finally found what the FontBook app is checking!

![screenshot 2016-06-24 at 16 14 09](https://cloud.githubusercontent.com/assets/1328733/1

[2016-06-27 12:12] fdb commented on #198
@Jolg42 thanks for checking! So it's just a matter of including those characters? I'll try adding some more characters to the Pyramid test font and see if I can get it to display in Font Book and TextEdit.

[2016-06-27 12:33] Jolg42 commented on #198
@fdb Yes! apparently adding the complete set of Basic Latin characters is working :)
Here is the file I used to generate it -> https://gist.github.com/Jolg42/136042df0ea8366b01bf1712ea7a8926

[2016-06-29 13:09] fdb commented on #198
After more testing it turns out the required set is .notdef, A-Z, a-z, 0-9 and space. I've updated the `generate-font-node` example and now it appears in TextEdit. Awesome!

[2016-06-29 13:11] #198 closed

[2016-06-29 13:59] moyogo commented on #198
This doesn’t sound right. There are fonts without those glyphs working fine on OS X. Maybe the Mac cmap subtable should not be in the cmap when those characters are not in the font instead?

[2016-06-29 14:04] fdb commented on #198
@moyogo the test font was working fine on OS X as well, only it's not showing in the TextEdit menu:

![screen-shot-2016-06-29-at-16 00 53](https://cloud.githubusercontent.com/assets/8477/16454900/ccc764ce-3e12-11e6-9e47-1106df2c2e8d.png)

By adding the characters, OS X detected it as Latin and showed it in the menu.

I don't really understand your comment. OpenType.js only generates the platform 3

[2016-06-29 14:19] moyogo commented on #198
@fdb You’re right. I should have checked first, those fonts I mentioned trigger the same issue actually.

[2016-06-29 14:20] fdb commented on #198
@moyogo No problem 😄

[2016-06-29 14:44] Jolg42 commented on #198
@fdb nice to know! 👍 So .notdef, A-Z, a-z, 0-9 and space, but I looked at your commit & you added a period too, is it required too for a "full" font?

[2016-06-29 15:14] fdb commented on #198
No the period is not required — I tested it without. It's just something I wanted to add because it's so frequently used.

[2016-06-30 07:27] Harbs commented on #191
FWIW:
Indian scripts require support for many OpenType features including various GPOS and GSUB tables which interact with each other in intricate ways. The order of the tables is very important as well. These scripts are easily the most complex ones in the world. I'm first getting acquainted with opentype.js now. I'm not sure if it takes table ordering into account. I'm also pretty sure there's n

[2016-06-30 07:40] Harbs commented on #164
I agree that multi-line is important, and I also agree that it should probably not be part of the core. (a complete solution is a very complex problem)

@fdb I do have experience with complex scripts and I'm currently the one maintaining Apache Flex TLF.

I'm first dipping my toes into opentype.js, and I'm impressed with what you've done. I'm hoping to build a wrapper around it to emulate the FTE

[2016-07-02 11:22] fpirsch commented on #194
#200 Adds full GSUB parsing. Writing simple cases coming soon.

[2016-07-03 09:06] Harbs commented on #194
This is amazing! How would you go about using the tables for specific features (like rlig, liga, onum, salt, etc.)? Is that implemented yet? If not, what are your thoughts on implementation?

[2016-07-03 11:46] fdb commented on #194
@fpirsch amazing work!

[2016-07-03 18:06] fpirsch commented on #194
@Harbs The GSUB data is exposed through the `font.tables.gsub` object. I'm now working on a `Substitution` object, made available as `font.substitution`, carrying all the methods needed to list, search and edit this data (for the most common features).

[2016-07-03 19:16] Harbs commented on #194
I'm not sure what other APIs look like. The FTE model is one that makes sense to me.
http://help.adobe.com/en_US/ActionScript/3.0_ProgrammingAS3/WS56773E36-AC97-4047-B9C1-D9DFA9A51F3F.html
http://help.adobe.com/en_US/FlashPlatform/reference/actionscript/3/flash/text/engine/TextElement.html
http://help.adobe.com/en_US/FlashPlatform/reference/actionscript/3/flash/text/engine/ElementFormat.html
Some

[2016-07-04 09:58] kennethmac2000 commented on #157
Anyone know what needs to change in the code to make this happen automatically when a glyph is instantiated?

[2016-07-04 10:01] kennethmac2000 commented on #157
It's also not clear to me that this issue only affects composite glyphs.

At least, I have glyphs (from a WOFF font) for which the property "isComposite" is not set, and I still have this issue of having to make 'fake' getPath() calls to initialize the glyphs.

[2016-07-05 14:24] Harbs commented on #194
@fdb To be clear, I was not suggesting a full FTE-type implementation. I'd love for someone to do my work for me, but I expect to have to do that myself... ;-)

I was rather suggesting some type of object similar to ElementFormat where you could specify features for a run of text and get back Glyph objects which match the feature set.

Something like: `Font.stringToGlyphs(string,format)` instead o

[2016-07-07 07:45] fpirsch commented on #194
@fdp I'm about to submit a new PR where the API looks like
`font.substitution.getLigatures()`
`font.substitution.addLigature({sub: [42, 42, 45], by: 167})`
Glyphs are referenced by id. Using their names would require some more work in the GlyphSet I suppose.
`font.gsub` could be confusing with the actual GSUB data `font.tables.gsub` which does not always exist, so I went for `font.substitution`.
T

[2016-07-07 08:19] Harbs commented on #194
I'd rather change the API a bit. Instead of `font.substitution.getLigatures()` I think `font.substitution.getFeature('liga')` makes more sense. There's at least three features related to ligatures alone (i.e. rlig, liga, dlig) not to mention the plethora of other GSUB features. It might also make sense to have `font.substitution.getFeatures(['liga','rlig'])` which would aggregate the subsitutions

[2016-07-07 08:35] fpirsch commented on #194
@Harbs You're right. I was focused on standard ligatures, but a more generic approach by feature name make more sense. So let's stick to `font.substitution.getFeature('liga')`.
And maybe `font.substitution.add("liga",{sub: [42, 42, 45], by: 167})` could do the job ? `font.substitution.addSub("liga",{sub: [42, 42, 45], by: 167})` feels like there's a lot of "sub".

[2016-07-07 08:40] Harbs commented on #194
Sure. "add" sounds better.

One thing that's going to be important to think about is the **order** of substitutions. There's lots of complex fonts which have really complex tables where the order is critical for correct rendering of text. I'm not sure the best way to handle that, and "one thing at a time", but I figured it does not hurt to mention the issue... The is really awesome stuff! :-)

[2016-07-07 08:53] fpirsch commented on #194
My idea was to stay low-level and simply append new substitutions. This leaves the problem of ordering to the application.

[2016-07-07 08:58] Harbs commented on #194
The order is programmed into the font. The application has no way of knowing the correct order unless the info is presented in an informative way.

One possible way to solve this problem would be to allow `font.substitution.getFeatures(['liga','rlig'])` like I mentioned above and the list of substitutions would reflect the table order in the font (not the order of features as requested).

[2016-07-07 11:44] davelab6 commented on #194
I wonder if CSS3 feature strings could be helpful,
https://www.w3.org/TR/css-fonts-3/#propdef-font-variant

[2016-07-07 19:19] photopea commented on #117
Ok, so I am writing my own parser and I ran into the similar issue.

For a letter "ř", U+0159, index 291 in the previous font, there are following commands:
[44, 136, 154, 247, 6, 247, 99, 14]
44=95, 136=-3, 154=15, (247,6)=114, (247,99)=207, 14 = operator endchar

Do you know, how should be these commands interpreted, to draw "ř" ?

[2016-07-08 09:04] FranzPoize opened #202 "encode.INDEX doesn't seem to properly evaluate encoder for some offset size"
Hi,

Here is a string index content that when feeded to the encode.INDEX function (in src/types.js) will trigger the following error `prototypo.js:2346 Uncaught Error: Byte value should be between 0 and 255.`

This is the json representation of the string index that trigger this bug:
```[{"name":"string_0","type":"STRING","value":"0.1.0"},{"name":"string_1","type":"STRING","value":"Prototypo Elzev

[2016-07-08 12:58] Jolg42 commented on #202
👍 We have the same bug, thanks for the fix! (https://github.com/nodebox/opentype.js/pull/203)

[2016-07-08 17:06] #202 closed

[2016-07-08 20:48] fdb commented on #157
The composite glyphs need to be "kicked" into action through getPath(). The reason is that some fonts have an enormous amount of glyphs  (e.g. Chinese fonts) which can make the memory usage of OpenType.js blow up (this is problematic on embedded systems and servers).

The good news is that we can solve this. We just need to be a bit more careful when loading getPath() on composite glyphs that getP

[2016-07-08 21:07] fdb commented on #157
For composite glyphs I can no longer reproduce this.

Here's the test code I use to draw a path:

[code]

which shows all diacritics correctly:

![screenshot 2016-07-08 at 23 07 10](https://cloud.githubusercontent.com/assets/8477/16701559/ca115c80-4560-11e6-9104-9dd030997cb6.png)

See https://jsfiddle.net/zv7an0yx/ for a demo.

[2016-07-11 15:51] kennethmac2000 commented on #157
I have a glyph (eg, "1") from this Google font: open-sans-v13-latin_latin-ext-600.woff

If I try to get glyph.yMax *before* calling glyph.getPath(), the value of glyph.yMax is undefined. If I call glyph.getPath() first, glyph.yMax then has a value. It's that simple. :)

[2016-07-12 13:16] fdb commented on #157
@kennethmac2000  OK so it's accessing yMax that's the problem, not getPath(). Thanks for clearing this up. I'll take a look.

[2016-07-12 14:11] kennethmac2000 commented on #157
Yeah, there's no problem with getPath() per se, but, as per the comments above, getPath() seems to need to be called to 'kick' the glyphs into action.

[2016-07-12 19:55] #157 closed

[2016-07-12 19:56] fdb commented on #157
I've just pushed a fix so that metrics information is kept behind a JavaScript property that forces the path to load first. This should fix the issues with composite paths (although it's not just composite paths).

[2016-07-12 21:18] fpirsch commented on #157
Beware that Object.defineProperty has some performance impact.

[2016-07-12 21:56] kennethmac2000 commented on #157
Thanks!

[2016-07-15 19:33] lmgonzalves commented on #71
Any solution so far? I'm interested too.

[2016-07-15 19:50] Jolg42 commented on #71
Hi @lmgonzalves
You can look what Prototypo is doing -> https://www.prototypo.io/ & Metapolator too http://metapolator.com/home/ both projects are open source!

[2016-07-15 19:53] Jolg42 commented on #202
@fdb This issue can be closed, it was merged with PR #203 ;-)

[2016-07-22 00:07] nazikus commented on #183
can someone provide a code sample how to decompress .woff2 file and parse it with opentype.js in browser?

[2016-07-22 02:56] nazikus commented on #110
@fdb I'm trying to achieve pixel-precise positioning of text baseline. I tried the way you have mentioned `font.ascender / font.unitsPerEm * 50` but it didn't work, always seems to be few pixels off (varying).

Also, if I got W3C standard right, they add half-lead to the top ([Leading and half-leading](https://www.w3.org/TR/CSS2/visudet.html#leading)). But again, it doesn't hold whenever i'm incre

[2016-07-22 12:56] fdb commented on #183
Only woff is supported. Woff2 is not yet supported.

[2016-07-29 15:56] Jolg42 commented on #105
cmap 12 read support was just added with PR #207  😉

[2016-07-29 15:56] Jolg42 commented on #168
@lixiangliu cmap 12 read support was just added with PR #207 😉

[2016-07-29 15:58] Jolg42 commented on #139
cmap 12 read support was just added with PR #207 so that will help I think!
By the way @blackgear what software did you used in your screenshot to open & parse the .ttf?

[2016-07-29 22:32] strarsis opened #208 "Allow loading from buffer"
It can be helpful for some applications to let them load a font in opentype.js by passing a buffer.

[2016-07-30 05:28] BruceSherwood opened #209 "Using local fonts"
Aided by Kadir Haldenbilen, I have used opentype.js to read glyph contours and display 3D text in WebGL. Here's an example:

http://www.glowscript.org/#/user/GlowScriptDemos/folder/Examples/program/BillboardingText

I include in the GlowScript library copies of the fonts Robot-Medium.ttf and NimbusRomNo9L-Med.otf, which are sent over the web to the browser. It would make more sense to read (say) V

[2016-07-30 06:28] fpirsch commented on #209
Hi @BruceSherwood ,
for security reasons, the browser does not let scripts know which fonts are installed locally, nor which fonts it actually uses on the page. The CSS or canvas font-family is just a hint.
For the same reason, scripts are not allowed to read local files.

[2016-07-30 14:07] BruceSherwood commented on #209
Thanks much for the explanation. Do you happen to know anything about the Chinese situation? The only font I've run across that has Chinese is MS-Gothic.

[2016-07-30 16:57] fpirsch commented on #209
https://en.wikipedia.org/wiki/List_of_CJK_fonts
Windows is shipped with the JhengHei (traditional Chinese) and YaHei (simplified Chinese) fonts.

[2016-07-30 17:25] BruceSherwood commented on #209
Thanks for the tip.

[2016-07-30 17:25] #209 closed

[2016-07-31 08:56] fdb commented on #208
Actually, you can. It's mentioned in the README:

    var font = opentype.parse(myBuffer);

myBuffer should be an [ArrayBuffer](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/ArrayBuffer).

[2016-07-31 08:56] #208 closed

[2016-07-31 09:18] fdb commented on #168
Closing this issue because of the cmap 12 support. @lixiangliu  let me know if there's something else that blocks you from working wit these fonts.

[2016-07-31 09:19] fdb commented on #105
Any other important formats we should support?

[2016-07-31 09:49] Jolg42 commented on #105
@fdb 4 is limited to 16 bit (Unicode Plan 1) & 12 to 32 bit (All Unicode Plans) they follow the same specification & it looks like they're the most common cmap tables.

I decompiled some fonts with FontTools & found that format 6 is also common.
So maybe the next step will be reading format 6 but if nobody is having a problem now, maybe we can wait before implementing it 😉

[2016-07-31 19:17] strarsis commented on #208
Thanks!

[2016-07-31 22:42] Pomax commented on #105
cmap 13 and 14 are high value for properly more modern fonts that need the many-to-one, and variation selection character mapping.

[2016-08-01 10:25] Jolg42 commented on #105
@Pomax Nice to know!
I think that CMAP 12 writing is the most important right now but one day maybe we will support every format ;)

But before that we will need to change how the cmap tables are handled, because right now if the cmap 12 is found the cmap 4 is not read (this is not a problem as 12 is a superset including 4) but we can't do that if we're adding more formats.

By the way are the 13

[2016-08-01 17:00] Pomax commented on #105
They're getting to.

I'm not sure why you'd skip 4 if 12 is found, though, but then I've not read the code in quite a while; keeping the UCS-2 and UCS-4 sets separate is generally a good idea, sometimes even with a cmap 0 for the 256 ANSI block, so the cmap parsing procedure is that you check which cmap subtables are available, then run through each of those to find your character index. The "does

[2016-08-01 17:33] Jolg42 commented on #105
@Pomax The cmap 12 support was recently added by @Vildan & I think it was just easier to skip 4 if 12 was found. If not, it will need a rewrite. For now, it's easier & performance-wise faster, but not future-proof!

Thanks for the details though!
Personally, I'm already busy with a lot of other things so feel free to contribute if you need to 😉

[2016-08-01 17:38] Pomax commented on #105
skipping 4 when 12 is found is a great way to not find characters that are definitely in the font, so filing an issue to make sure all sub tables are checked will be a good idea =)

as for contributing: I run an insane amount of projects already, so writing comments or just talking about how the opentype spec wants things done is a quick and easy job, reviewing code is a bit more work, *writing* c

[2016-08-01 17:40] fdb commented on #105
Hey @Pomax thanks for clearing that up. It sounds it'll be a good idea to keep all of them and do a lookup through them. Do you know if the spec says something about the order in which they should be looked up?

[2016-08-01 17:41] Vildan commented on #105
Because there are only format 4 and 12 now, and 12 is superset of 4, there is no need to read format 4 if a font has format 12 in it. And because cmap tables placed in ascending order, we can find format 12 before format 4. @Pomax, do you have an example when we skip characters if read only format 12? I ran this test on 4000+ fonts and didn't find a single font where format 4 gives some extra char

[2016-08-01 18:15] Pomax commented on #105
Rereading the spec, you're right; it quite literally says `"Please note, that the content of format 12 subtable, needs to be a super set of the content in the format 4 subtable. The format 4 subtable needs to be in the cmap table to enable backward compatibility needs."`. I'm curious if the OpenType spec revisions will remove this need for a cmap_4 in the future, but it does indeed fully justify n

[2016-08-02 11:09] HinTak commented on #188
Duplicate issue of
https://github.com/nodebox/opentype.js/issues/139

[2016-08-02 11:10] blackgear commented on #139
@Jolg42 "Synalyze It! - much more than a Hex Editor for Mac OS X"

[2016-08-02 12:14] Jolg42 commented on #139
@blackgear Thank you 😉 It works well! I will update the [awesome-typography](https://github.com/Jolg42/awesome-typography) repo asap!

[2016-08-03 21:25] photopea opened #214 "Alternative to opentype.js"
Hi guys,

I have made my own parser and renderer [Typr.js](https://github.com/photopea/Typr.js). There is a [live demo](https://photopea.github.io/Typr.js/), where you can test your files. It is much smaller than opentype.js, but it can not encode files yet. It also supports some old file structures, for which opentype thorows errors.

Maybe somebody would be interested in using it.  I have report

[2016-08-04 07:57] Jolg42 commented on #214
Hi!

Nice :) I just added it to the [awesome-typography list](https://github.com/Jolg42/awesome-typography) (You can check this list for OpenType related libraries!).

If you want to check other alternatives to OpenType.js:
- https://github.com/devongovett/fontkit An advanced font engine for Node and the browser
- https://github.com/bramstein/opentype An OpenType, TrueType, WOFF, and WOFF2 parser

[2016-08-04 08:12] fdb commented on #214
Hi @photopea, always good to see some alternative implementations! As @Jolg42 mentioned, there are some other high-quality implementations as well. I'll look at your implementation to see if there are any speed gains we can port over to OpenType.js as well.

If there are specific issues you'd like to see solved, please take them up with me (again). I've been completing my PhD in the last year(s) s

[2016-08-04 08:14] photopea commented on #214
The most important problem with this issue, I was waiting more than a year, but nobody fixed it.  https://github.com/nodebox/opentype.js/issues/117
Here you can see the same 100 glyphs rendered with opentype and Typr
![glyphs](https://cloud.githubusercontent.com/assets/15955558/17394943/035e4dec-5a2c-11e6-9bac-399aa739b199.png)

[2016-08-04 08:18] photopea commented on #214
I was testin Typr.js with fontsquirrel fonts, which I accessed through their API: https://www.fontsquirrel.com/blog/2010/12/the-font-squirrel-api

[2016-08-04 08:19] fdb commented on #214
Looking at that issue, could you pinpoint what your parser is doing differently? I'd love to fix this.

Thanks for the link to the fontsquirrel API. Didn't know about that one.

[2016-08-04 08:32] photopea commented on #214
When there  is a CFF operator 14 (endchar) and stack length is 4, the "seac" (standard encoding accented character) command should be performed.  Opentype does nothing. See http://wwwimages.adobe.com/content/dam/Adobe/en/devnet/font/pdfs/5177.Type2.pdf   page 35.

[2016-08-04 08:50] fdb commented on #214
Thanks! I saw that was an issue with e.g. character index 202, which has the code `[98, 146, 154, 236, 247, 89, 14]` which sets up a stack with five numbers but then only does endchar. I was scratching my head on what that should do.

[2016-08-04 11:11] Jolg42 commented on #214
I just did a dump from the API, all fonts are available here https://github.com/Jolg42/FontSquirrel-Fonts

[2016-08-04 11:14] photopea commented on #214
Nice :) but I think it will be outdated like tomorrow :D

[2016-08-04 11:25] Jolg42 commented on #214
Maybe…! But I don't think that the fonts are updated on regular basis.
They add more new fonts than they update the old ones no?
Having a dump is just easier for testing (even if outdated).

[2016-08-04 20:07] behdad commented on #214
What was the solution that worked?  Early termination?

[2016-08-07 15:48] fdb commented on #214
@behdad As @photopea mentioned, it should be interpreted as `seac`. We don't have code for this, I'll look into this.

[2016-08-07 16:30] photopea commented on #214
Can you please also make sure, that you can render the glyph 190 in this font? I am having problems with it.

[2016-08-16 04:39] asmer opened #216 "fontMatrix"
Hello.

now I'm working on PostScript implementation for JS (something like pdf.js) and PS font subsystem very similar to opentype. I need some way to set fontMatrix, which generated inside of PostScript files. Any way to do this? I can try to fork and change code for that, but, probably you can offer some best way for that.

Thanks

[2016-08-16 06:06] casperno commented on #194
I've updated opentype.js in my project and implemented support for ligatures. THANK YOU! As a typography nerd, this makes me very happy.

The `getLigatures` does what it says, but returns a result that isn't very fast to use for lookups.  So I've wrote a new function that returns a lookup table, structured much like the opentype font.
Is this something you'd feel comfortable adding to the main pro

[2016-08-16 06:34] Harbs commented on #194
Good idea, but I'd take it one step further. Instead of getLigatureLookup, I'd make it "getFeatureLookup" to make it generalized, and it would have a hastable of the previously requested features.

[2016-08-16 07:25] casperno commented on #194
Good thinking. I see that getFeature is implemented this way.
How do you feel about the results being cached in `Substitution.prototype.ligLookup`?
Should it be cached by the code using it instead? Or is the additional memory footprint negligible?

[2016-08-16 08:25] fpirsch commented on #194
Hi @Casperno, you're right the `getLigatures` method is not intended for fast rendering lookups, but for font edition purposes.
IMHO the best lookup structure for this would be the raw font data in `font.tables.gsub`. I don't think there is a need to build an additional structure. In particular, `expandCoverage` is handy but not efficient. Instead, we need fast search methods in the raw data.
Of c

[2016-08-16 08:30] Harbs commented on #194
I did not quite get exactly what expandCoverage does. (I was actually trying to figure out the logic inside substitutions today.) Can you explain?

[2016-08-16 08:59] Harbs commented on #194
BTW:
I'm not sure I'm reading the code correctly, so I might have missed it, but did not see where ligature lookup sorting was taking place.

According to the spec:
  sub f f by f_f;
  sub f i by f_i;
  sub f f i by f_f_i;
  sub o f f i by o_f_f_i;

will produce an identical representation in the font as:

  sub o f f i by o_f_f_i;
  sub f f i by f_f_i;
  sub f f by f_f;
  sub f i by f_i;

For the

[2016-08-16 09:07] casperno commented on #194
You're quite right, the sorting is not done in the supplied code. Basically, if a char has ligatures at all, we look forward four characters, try first looking up with all four, then three, then two.

I kept that part out of opentypejs, as it seem more of an layout implementation problem than.

[2016-08-16 09:31] Harbs commented on #194
That seems pretty inefficient, but I'm not sure there's a better way.

I'm probably going to implement a caching mechanism for words so I only have to do the lookups on a particular word once.

[2016-08-16 09:55] Harbs commented on #194
Another question I'm having trouble figuring out:

Are glyph classes and glyph ranges supported? It seems they would need to be (for GPOS as well), but I couldn't find it.

Any pointers would be very welcome.

[2016-08-16 10:15] Harbs commented on #194
FYI:
While brushing up on my OpenType, I came across this post:
http://ansuz.sooke.bc.ca/entry/131

Very useful observations there.

I found that bit towards the end about named lookups very interesting as well. It's important to know where the named lookup is declared for implementation purposes.

[2016-08-16 11:16] fpirsch commented on #194
@Harbs `expandCoverage` unifies both coverage table types (list and range) in a single list. Useful for editors, and that's all.

Glyph classes and ranges are parsed, but not used in the rendering (btw, currently the GSUB table is not used at all in the rendering process). `font.substitution.add` doesn't use them either. If you want to add a substitution with classes or ranges, you'll have to modi

[2016-08-23 03:43] dfcreative opened #217 "Bump npm version"
Hi!
First off thanks for the awesome project, I use it in [wavefont](https://github.com/dfcreative/wavefont) for generating a font for rendering data.

There is a very required feature #194, which is not in @0.6.4 yet, therefore the request - could you add `Substitution` class to main `opentype` object and bump npm version?

Thanks!

[2016-08-25 14:50] lachmanski opened #220 "Add Support for Word Spacing / Letter Spacing"
Can you add support for [SVG word-spacing](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/word-spacing) and [SVG letter-spacing](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/letter-spacing)?

Word spacing could be useful for text justification purposes. Interestingly, the default [HTML word-spacing](http://www.w3schools.com/cssref/pr_text_word-spacing.asp) is 0.25 ems. Th

[2016-08-31 09:07] Jolg42 commented on #216
Hi @asmer

Right now the values of the fontMatrix are based on the font’s unitsPerEm.

So if you want to play with it you can hardcode it or add an `options.fontMatrix` here
https://github.com/nodebox/opentype.js/blob/2cb33b16078785fbb1551e812b5e7877c6dbb734/src/tables/cff.js#L1060

and the options input is here for this function https://github.com/nodebox/opentype.js/blob/2cb33b16078785fbb1551e81

[2016-09-07 15:49] fahadnabbasi opened #221 "can someone help me?"
I am loading .ttf font file and now I want to add in the weight and style for it but getPath only expects font size, is there a way I can define the weight and style for font? e.g.

Bold, Italic
or Bold, normal
or normal, normal

[2016-09-07 15:59] fpirsch commented on #221
Hi,
there are no styles in fonts. You have separate font files for bold, light, italic etc.

[2016-09-07 16:04] fahadnabbasi commented on #221
yes we have but it ttf we have definition of bold and italics, can't we somehow get that

[2016-09-07 16:14] Jolg42 commented on #221
Hi!

You can check in the OS2 table in `font.tables`

Maybe you will find something interesting with sFamilyClass or Panose…!

See official reference: https://www.microsoft.com/typography/otspec/os2.htm#fc
The head table have some infos too.

[2016-09-08 08:18] fdb commented on #221
`font.tables.os2.usWeightClass` might be a good indication of font weight.

[2016-09-08 10:42] fahadnabbasi commented on #221
yes I can get the weightclass but I want to change it so that if it was 400, I change it to 800 and it changes the font weight

[2016-09-08 10:53] Jolg42 commented on #221
You can directly read and write the `font.tables.os2.usWeightClass` value.

When exporting the font that value will be in the final .otf file see https://github.com/nodebox/opentype.js/blob/1b1679efa2047e54cab12580b3a6f879524e707f/src/tables/sfnt.js#L231

[2016-09-08 11:13] fahadnabbasi commented on #221
ok I think I am not clear enough, I would really appreciate if you help me @Jolg42

I am using following

[code]

Now here I want to define that use bold, use italic or use bold italic, something like this to get the exact output

can you please help me how to do that?
I tried changing the value font.tables.os2.usWeightClass to 800 but I guess it is never called as I am not doing any exports of th

[2016-09-08 11:43] fpirsch commented on #221
@fahadnabbasi Like I said, you can't load a font and change the weight or style of the output path. If you want to use  `your_font_regular.ttf` in bold, then load `your_font_bold.ttf`. But you cannot load a regular font and display its glyphs in bold. This is not how it works.

[2016-09-08 11:48] fahadnabbasi commented on #221
oh the solution provided by @Jolg42 will not change the fontweight? currently for my font the value is 400, if I change it to 800, will it not work?

And if it doesn't work, how can I extract the different fonts from one single .ttf file?

The reason I am confused is because on html or canvas, if I use the same file, I can apply bold, italic and normal properties and they work fine but no way to d

[2016-09-08 12:27] Jolg42 commented on #221
Sorry @fahadnabbasi changing the `font.tables.os2.usWeightClass` will just change the value for the family, in your case it's not gonna help…

As @fpirsch said if you need multiple weights you will need to load each subfamily separately.

[2016-09-08 12:28] Jolg42 commented on #221
You can try to unpack your font with http://transfonter.org/ttc-unpack

[2016-09-08 12:33] fahadnabbasi commented on #221
ok so is there a way I can extact that from .ttf? I don't have .ttc

[2016-09-08 12:38] Jolg42 commented on #221
You can try, maybe you have a .ttc named .ttf, that can happen!

[2016-09-08 12:50] fahadnabbasi commented on #221
unfortunately this is not the case, so do I have to find all the different font files for every single font and all its sub families?

[2016-09-08 12:54] Jolg42 commented on #221
So yes, but you can also try to open your font in FontForge or FontLab & try to export the subfamilies.

[2016-09-08 13:00] fpirsch commented on #221
@fahadnabbasi A standard `.ttf` file contains just one style. Basic fonts need 4 different files: regular, bold, italic, and bold-italic.

Browsers know where too look for the correct font file. Either you give them the correct file list in the CSS [@font-face](https://developer.mozilla.org/fr/docs/Web/CSS/@font-face) declaration, or they use font files installed locally, or they can sometimes [fa

[2016-09-08 13:03] fahadnabbasi commented on #221
thanks a lot for this information, you guys helped me a lot, will try and find all different font files now :+1:
thanks a lot again for your help brothers :)
@fpirsch
@Jolg42
@fdb

[2016-09-08 13:04] #221 closed

[2016-09-09 18:17] fdb commented on #220
I noticed you added the issue to opentype-layout as well. Maybe that's a better place than here.

[2016-09-10 05:20] aaron-elkins commented on #188
I get the same error in the most recent version still, It seems this issue is not fixed already in the source code, but just provide some hacks for users to fix, can anyone update the repo for this issue?

[2016-09-12 08:36] Jolg42 commented on #217
Hi @dfcreative

0.6.5 is on npm https://www.npmjs.com/package/opentype.js 😉

[2016-09-12 08:36] #217 closed

[2016-09-12 08:37] Jolg42 commented on #220
@fdb It's what I was thinking too

[2016-09-12 08:37] #216 closed

[2016-09-12 08:41] #178 closed

[2016-09-13 08:39] #220 closed

[2016-09-19 07:02] dennisfrostlander opened #223 "Can't create coverage table format 2 yet."
Starting from 0.6.5 release, there is now an error when parsing OpenSans-Reulgar.ttf.
Can't create coverage table format 2 yet.

See the fiddle for an example. Version 0.6.4 works fine on the same font file.
https://jsfiddle.net/vd48vyzf/

[2016-09-19 11:53] fpirsch commented on #223
Strange. I'll take a look at this. Thanks for the info.

[2016-09-22 07:04] magebay99 opened #224 "Can I convert TTF font to embed as glyphs paths as Corel did when export text?"
When using Corel to export design in SVG, I got this option:
![image](https://cloud.githubusercontent.com/assets/8830419/18739366/4e39a380-80cd-11e6-8294-f57331f3c707.png)

So when saved, open SVG in notepad++ I found this:

![image](https://cloud.githubusercontent.com/assets/8830419/18739325/f053b03a-80cc-11e6-920d-fe8a69555d8f.png)

That mean SVG can embed font to print without install font.
So

[2016-09-22 08:06] fdb commented on #224
OpenType can give you a text as an SVG path. Note that this is different from a [SVG font](https://www.w3.org/TR/SVG/fonts.html), which we currently don't have.

Here's an example how to load a font and convert it to an SVG string, that you can embed in your document.
[code]
As for an SVG font, all the information to get this is there, we just don't have it yet. You could iterate through the glyph

[2016-09-22 08:13] magebay99 commented on #224
Thank you @fdb , I will research more and let you know the results later.

[2016-09-22 11:05] Jolg42 commented on #113
Note: The GSUB table is now available, thanks to @fpirsch work (sponsored by my company, Fontself) 👍

[2016-09-22 11:05] #113 closed

[2016-09-22 11:07] Jolg42 commented on #96
Note : The GSUB table is now readable / writeable 🎊

[2016-09-22 11:07] #96 closed

[2016-09-22 17:38] mattlag commented on #96
Thank you, @Jolg42!

[2016-09-22 19:52] danmarshall commented on #174
I am using opentype.js in a web worker and it works just fine. One request I have is being able to load synchronously when in a worker. Perhaps [loadFromUrl](https://github.com/nodebox/opentype.js/blob/master/dist/opentype.js#L1975) can change ```true``` to ```false``` when there is no callback?

[2016-09-22 19:59] davelab6 commented on #174
Good news @danmarshall :) cc @graphicore

[2016-09-23 22:31] danmarshall commented on #174
Actually, let me qualify that - I did need to trick opentype.js by adding:
[code]
It would be nice to not need to do this.

Here's how I detect the 3 types of environments in Maker.js :
[code]

[2016-09-25 18:44] fdb commented on #174
Ah that makes sense, since `window` is not defined in a web worker.

We just want to distinguish between node and the browser, though. I tried this through checking for `process` but apparently browserify defines it. I've seen `typeof self === object` as a check, would that make sense?

[2016-09-26 01:55] danmarshall commented on #174
That's why I look for both 'global' and 'process'

[2016-09-26 14:01] brawer opened #225 "Run text rendering tests on OpenType.js"
Hi all, I’ve started a project for testing text rendering systems; the project is hosted/copyrighted by Unicode. Although this test suite is still very much in its infancy, you might still find it useful. Feel free to change its test framework so it runs node.js + OpenType.js on the test suite when passing `--engine=OpenType.js`; your pull requests would be very welcome. Also, don’t hesitate to ex

[2016-09-26 18:23] fpirsch commented on #223
The error is not during the parsing, which runs fine.
It occurs in the `toArrayBuffer` method, which prepares writing. And Opentype cannot currently write only simple fonts.
Basically, what your example is doing is:
  * parsing the original font
  * writing back to an array buffer, which throws an error because the font is too complex
  * trying to parse the result, which doesn't happen because of

[2016-09-26 19:44] dennisfrostlander commented on #223
Thanks for the explanation and the workaround. You mentioned a couple of times that OpenSans is too complex. This is just the standard ttf file from google fonts github repo, and OpenSans is one of the most popular fonts out there. Is there any better way to handle such font with opentype.js? Maybe some preprocessing step to get rid of information that opentype cannot parse anyway?
I am parsing th

[2016-09-26 20:41] fpirsch commented on #223
OpenSans is too complex **now** for opentype.js to **write/edit/modify**, but **reading/extracting information** is done very well.
What you need in your callback is probably to call `font.getPath`, or use the `font.tables` object to retrieve metrics.
There is absolutely no reason to call `toArrayBuffer` and parse again.

[2016-09-26 20:59] dennisfrostlander commented on #223
Thanks, I was also using the same buffer to embed the font in css via data-url, but I can workaround that by loading with a regular url.
Thanks a lot for the tips. Regarding this issue, feel free to close it unless you want to restore original behavior or document the workaround.

[2016-09-26 21:16] fpirsch commented on #223
Well, the font writing feature is still young and pretty basic, I guess we'll have to document that fact ;-)

[2016-09-26 21:16] #223 closed

[2016-09-27 08:20] Harbs opened #226 "Uncommon coding pattern"
I'm trying to understand the parsing in table.js.

The constructor of ScriptList uses Table.call and appears to have a number of nested inline functions to build an array. I find it very hard to read and follow the logic. It's also using a variable i which I'm not sure how it's being defined. ~~The only place I can see it defined is inside the Table constructor, and I'm surprised it's in scope ins

[2016-09-27 15:39] fpirsch commented on #226
`Table.call(this, ...)` is standard prototype inheritance.

This code is not very easy to read indeed, but it has the advantage of reflecting the hierarchical structure of the table, with (almost) one field per line, in the same order as they are in the table.
It is short and you have the entire structure right before your eyes, without scrolling up and down.

The indentation and nesting of arrays

[2016-09-27 18:58] Harbs commented on #226
I was not referring to Table.call(). I was referring to the multiple recursive calls of callbacks.

If you notice, I figured out the logic and reworked the code to make it easier to read without compromising the logic. I made a pull request earlier today.

[2016-09-28 07:15] fpirsch commented on #226
Like I said, the current code is like it is for a reason. I want the table structure to be obvious, I don't want it to spread on multiple pages of code.

[2016-09-28 07:53] Harbs commented on #226
Maybe it is obvious to you, but it took me a long time to figure out the nesting.

Let me explain a little more on why I needed to change it.

I'm porting opentype.js to ActionScript, so I can use it with FlexJS. Things like Table.call() do not work on the ActionScript side. You can not use call() on a class constructor in ActionScript. I need to rewrite things to use proper class inheritance. I w

[2016-09-28 18:12] danmarshall commented on #226
@Harbs I had a similar problem with using call() on class constructors. [This answer on Stack Overflow](http://stackoverflow.com/questions/1606797/use-of-apply-with-new-operator-is-this-possible) helped me out. The trick is to use apply() in a closure. I'm only vaguely familiar with ActionScript, but I think it's familiar to JavaScript in this regard.

[2016-10-04 15:29] Jolg42 commented on #176
Merged with #199

[2016-10-04 15:29] #176 closed

[2016-10-04 15:33] Jolg42 commented on #122
Quoted from #123

[2016-10-04 15:33] #122 closed

[2016-10-04 15:35] #156 closed

[2016-10-04 15:35] davelab6 commented on #122
@Jolg42 did you review the fix made downstream?

[2016-10-04 15:42] Jolg42 commented on #194
I'm closing this issue as the first version with ligatures is now working.
The examples are in the tests for now.
If someone have ideas or more advanced need, just open a new issue 😉

[2016-10-04 15:42] #194 closed

[2016-10-04 15:46] Jolg42 commented on #122
@davelab6 This fix https://github.com/felipesanches/opentype.js/commit/e17a2d0f32fd8b50775eba47c0613c4fcbc3f127 ?
In the issue #123 we were thinking that without a test case we will wait before merging it.

[2016-10-07 19:35] mrapogee opened #230 "Remove planned ligature support from readme."
According to #96, ligature support exists, correct? In the readme, it says ligatures are planned.

[2016-10-07 19:53] fpirsch commented on #230
There is some ligature support indeed. Ligature data is read from and written to font files. The thing is, this data is not yet used for rendering.
Still, the readme could be updated to reflect this :-)

[2016-10-07 20:13] mrapogee commented on #230
Ah, I see. :+:

Do you know what it take to support ligature rendering? I don't see an open issue for this.

[2016-10-09 07:30] vote539 opened #231 "Async errors passed as strings instead of Error objects"
There are a few places, like [here](https://github.com/nodebox/opentype.js/blob/master/src/opentype.js#L53) and [here](https://github.com/nodebox/opentype.js/blob/master/src/opentype.js#L71), where the async method gets passed a string instead of an Error object.  This breaks from Node.js conventions, and it also reduces the amount of information available to the receiver of the error (e.g., the s

[2016-10-09 13:21] BaGsn opened #233 "Support for variable font format tables"
Have you planned to upgrade the library to support new opentype variation tables?

[2016-10-09 20:19] Jolg42 commented on #233
Hi @BaGsn

So having support for OpenType 1.8 with font variations would be great, right now there is nobody working on it but it looks like some people are interested by this feature.

So as OpenType.js is an open-source project you can directly contribute to it or sponsor a contributor that can do it for you 😉

[2016-10-09 20:26] devongovett commented on #233
[fontkit](https://github.com/devongovett/fontkit) supports variation fonts (the truetype version so far, not CFF2). Currently just reading is supported, not writing. Code is [here](https://github.com/devongovett/fontkit/blob/master/src/glyph/GlyphVariationProcessor.js).

[2016-10-10 06:17] Harbs opened #234 "glyphLoader vs ttfGlyphLoader vs cffGlyphLoader"
I noticed that only ttfGlyphLoader creates a Glyph which has setters and getters for the min and max properties. The default Glyphs use simple properties instead.

Why is it important for Glyphs created using specifically ttfGlyphLoader to use the setters (and build the path first)?

[2016-10-10 06:18] Harbs commented on #226
I closed my pull request.

[2016-10-10 06:18] #226 closed

[2016-10-10 07:57] Jolg42 commented on #233
@devongovett Nice!
But I missed something... The new OpenType 1.8 is the CFF2 version? What is the TrueType version? If you have a link to a spec/doc to help me understand the difference here it would be perfect! :)

[2016-10-10 08:54] moyogo commented on #233
@Jolg42 the TrueType glyf table didn’t really change in OpenType 1.8 (the only minor changes is some clarification of 3 flags).

[2016-10-10 13:06] Jolg42 commented on #233
Ok 👍

[2016-10-10 13:21] brawer commented on #233
The next step in OpenType.js would likely be to implement the [gvar](https://www.microsoft.com/typography/otspec/gvar.htm) table. For testing, try parsing [TestGVAROne](https://github.com/icu-project/text-rendering-tests/raw/master/fonts/TestGVAROne.ttf), [TestGVARTwo](https://github.com/icu-project/text-rendering-tests/raw/master/fonts/TestGVARTwo.ttf), and [TestGVARThree](https://github.com/icu-

[2016-10-10 15:18] fdb commented on #233
I'm very interested on working on this in the coming weeks, as I will be doing a workshop around variable fonts in Vilnius in December.

@brawer thanks for the pointers to the test suite -- will look into that.
@devongovett thanks for a link to the code!

[2016-10-10 15:37] brawer commented on #233
@fdb, very cool and good luck! The OpenType 1.8 spec has a [Font Variations Overview](https://www.microsoft.com/typography/otspec/otvaroverview.htm) which I’d recommend reading as an intro.

[2016-10-14 09:04] Jolg42 opened #236 "Add ligature rendering in canvas"
Ligatures are supported but not rendered in canvas right now.

We will need to
- [ ] Add a ligature boolean for [GlyphRenderOptions](https://github.com/nodebox/opentype.js/blob/master/src/font.js#L206)
- [ ] Check all types of ligatures for a given string (maybe only a subset or the active ones for the first version?)
- [ ] Render the ligature in canvas
- [ ] Other modifications?

[2016-10-14 09:05] Jolg42 commented on #230
Hi @mrapogee

I just opnened the issue https://github.com/nodebox/opentype.js/issues/236 for ligatures rendering 😃

Feel free to contribute!

[2016-10-19 08:12] fdb commented on #231
I'm okay with this!

[2016-11-02 18:00] niftylettuce opened #238 "Points not pixels"
Shouldn't we note in the Readme that the `fontSize` is points and not pixels?

[2016-11-03 07:56] niftylettuce opened #239 "Thank you! Check out this package created with it"
This package is great, check out what I made with it here <https://github.com/crocodilejs/custom-fonts-in-emails>.

[2016-11-04 18:03] fdb commented on #238
That probably makes more sense.

Internally the scaling is calculated as v / font.unitsPerEM * fontSize.

[2016-11-11 10:24] jeromew opened #240 "noto load/save problem with glyphNames"
Hello,

I am trying to work with opentype.js and the noto fonts.
The font I use in this example is "NotoSansTagbanwa-Regular.ttf" available in https://noto-website-2.storage.googleapis.com/pkgs/NotoSansTagbanwa-unhinted.zip but the problem also happens with the other noto ttf files.

Basically, the following example outputs an error

[code]

leads to

I drilled down on this issue, and it seems to

[2016-11-12 17:13] jeromew commented on #240
Regarding the GSUB type 7 I understood in the code that it is not implemented yet so this is a different problem.

Regarding the glyph names, I saw on https://github.com/fonttools/fonttools that they have the following algorithm:

The glyph names are either extracted from the CFF table or the post table, or are derived from a Unicode cmap table. In the latter case the Adobe Glyph List is used to c

[2016-11-12 18:43] Jolg42 commented on #240
Hi @jeromew

Yes the GSUB 7 is not yet implemented like you can see.

And you're right for the glyph names the best would be to match the Adobe Glyph List from this repository: https://github.com/adobe-type-tools/agl-aglfn

In fact the algorithm is explained here: https://github.com/adobe-type-tools/agl-specification#2-the-mapping
If no match, I think that we can name the glyphs "u" + hexadecimal

[2016-11-14 17:27] jeromew commented on #240
Ok I will work on a PR for this. There is something that I do not quite understand.
https://github.com/adobe-type-tools/agl-specification#2-the-mapping explains how to convert from a glyphName to a character or a sequence of code points.

In the code https://github.com/nodebox/opentype.js/blob/master/src/encoding.js#L251 the bug I saw was in `addGlyphNames`. I understand that I should write a reve

[2016-11-14 18:50] Jolg42 commented on #240
Yes I see.

So in fact it's not mandatory to rebuild the glyphs names if you are reading a font.

I was using my code from the last comment because I was doing reads and writes, and when you export/write the font you need to put the correct glyphs names because some printers for example will have a hard time finding some glyphs.

I think that finding the glyph name and assigning it needs in fact t

[2016-11-14 21:05] jeromew commented on #240
@Jolg42 ok I understand that glyphNames ought to be generated when creating a font to help downstream consumers and that is where keeping the algo compatible with the adobe algo is important.

Indeed you are right, the noto fonts, when loaded into opentype.js, lead to undefined glyphNames, which is weird, but I have no idea whether these glyphNames should be "found" inside the .ttf or built by an

[2016-11-26 06:48] cyberwombat opened #241 "Using existing browser downloaded fonts"
I use a number of @font-face directives - I am using a JS loader to load these fonts as needed (RaphaelJS stuff) and also load the same font with OpenType for path measurements. Is there a way to not download these fonts twice by either a) having OT make use of the browser downloaded font or b) using OT as a font face downloader somehow?

[2016-11-26 15:54] cyberwombat commented on #241
https://github.com/nodebox/opentype.js/issues/62

[2016-11-26 15:54] #241 closed

[2016-11-26 16:06] cyberwombat commented on #62
Has any of this been implemented?

[2016-11-26 20:42] fdb commented on #62
OpenType.js doesn't have this yet, but Plumin.js (which is built on top of OpenType.js) uses [this technique](https://github.com/byte-foundry/plumin.js/blob/d0473591230fe7854e589aae14a199d8af86ea07/src/Font.js#L286).

[2016-11-26 23:24] cyberwombat commented on #62
I see thank you. Is it possible to extract a base64 rendition of the font from OT once it's loaded? I may be able to use it that way instead

[2016-11-28 00:53] cyberwombat commented on #62
Thanks. I was able to use the `toArrayBuffer()` and convert to base64 and load it that way in my css.

[2016-11-28 08:22] fdb commented on #62
Yeah, we should probably add that to OpenType.js directly....

[2016-11-28 17:49] Pomax commented on #62
As a small aside, given that this issue is grounded in the past (filed august 2014), when the webfont landscape was very different: these days you *do* want just WOFF (possibly with WOFF2), as `eot` is obsolete (MS no longer supports any browser that *needs* the `eot` format), `svg` has been disavowed (most browsers that still had support for it in 2014 have since removed support again), and `ttf`

[2016-11-28 17:55] cyberwombat commented on #124
@hypothete have you tried your fix in IE<11? I am unclear as to older IE SVG support. Seems like spotty support before 11.

[2016-12-04 00:41] cyberwombat opened #242 "How to adjust fonts so that bounding box fits"
I am using this code to obtain the bounding box of a font path:
[code]
The process works smoothly for most of my fonts but a few of them are offset  as in image:
![screen shot 2016-12-03 at 5 36 00 pm](https://cloud.githubusercontent.com/assets/777498/20863158/5bfc159e-b97f-11e6-8e7c-a5a541a93199.png)

The font in question is here https://dl.dropboxusercontent.com/u/35647902/bessie.ttf

Is there a

[2016-12-04 19:33] cyberwombat commented on #242
Nrmind... I think its my calcs...

[2016-12-04 19:33] #242 closed

[2016-12-05 09:45] amart1n commented on #168
The same issue still exists with values outside the BMP. Looks like it may be because of the limitations of `charCodeAt()` https://mathiasbynens.be/notes/javascript-unicode#code-point-from-string

[2016-12-05 10:47] Jolg42 commented on #168
@amart1n You're right `charCodeAt()` "will always return a value that is less than 65536." ([ref](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/charCodeAt))

[codePointAt()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/codePointAt) is the new method to use but because of the compatibility we would need to add Math

[2016-12-11 07:33] cmroanirgo opened #243 "Noto Sans CJK support"
I notice a few bugs (#188, #139) citing Chinese is not supported. Fair enough, but do you know of *any* JS libraries supporting CJK? (I came across https://github.com/kekee000/fonteditor-core some time ago, but found it a bit buggy... and writing a new ttf very difficult to achieve without understanding everything about ttf).

This fault raises how all the otf fonts generated for the CJK project (

[2016-12-16 23:00] fpirsch commented on #236
I'm on it ;-)

[2016-12-30 23:01] caub opened #244 "Unsupported kern table version (Anton font)"
[code]

https://jsfiddle.net/crl/2o3sfhrg/

This error happens for Coda, Didact Gothic font too

[2016-12-30 23:06] caub opened #245 "TypeError: subtables[i] is not a function at table.getKerningValue"
[code]

https://jsfiddle.net/crl/2o3sfhrg/1/

This error happens for Ek Mukta, Cardo, Cousine, Bungee Inline, Jomhuria,  Aref Ruqaa, NTR, Gurajada, Buenard fonts too

[2017-01-04 20:41] fpirsch commented on #245
Hi,
thanks for the report. It happens with Raleway too. I will fix this soon.

[2017-01-05 19:07] adamgamble commented on #244
I just came here to report this as well. Any ideas?

[2017-01-05 19:59] fdb commented on #244
The `kern` table is version 1; we only support version 0. The implementation is based on the Windows documentation. Apple's documentation does list the newer format, but we have no implementation for it yet.

[2017-01-05 20:44] fdb commented on #244
Okay, I just pushed version 0.6.7 that has support for fonts like Anton, that only have a Mac-like `kern` table. Not all subtable versions are supported; but at least it shouldn't crash.

[2017-01-05 20:44] #244 closed

[2017-01-06 15:54] fpirsch commented on #153
Hi,
I'm implementing basic ligature support. I plan to keep the current behavior of `Font.prototype.charToGlyph` and `Font.prototype.charToGlyphIndex` (1:1 mapping), and to make glyph substitutions in `Font.prototype.stringToGlyphs`.
What do you think ?

[2017-01-06 15:59] #19 closed

[2017-01-06 16:06] brawer commented on #153
If it helps, here’s a test suite; feel free to use it:
https://github.com/unicode-org/text-rendering-tests

[2017-01-06 17:08] devongovett commented on #153
You can also try [fontkit](http://github.com/devongovett/fontkit), which has OpenType/AAT layout engines for complex scripts.

[2017-01-06 18:22] Pomax opened #247 "Uplift to ES6 classes and rollup bundling?"
The codebase right now is actually extremely well organized and would be relatively easily uplifted to using ES6 classes, which would make every class a potential module that can easily be used by other open source projcets, or customized for opentype experiments =)

[2017-01-08 00:30] iceblu3710 opened #248 "Parsing the getPath object"
`path = font.getPath('Hello, World!', 10, 10, 100 );` will output an object:

[code]

Inside the commands are the glyphs:
[code]

I had assumed that if there was no `x, y` coords that it means this was a space. However I was very wrong. How the heck do I translate the path output?

I need to close the path of each individual letter by referencing the letters first coordinate but have no idea where

[2017-01-08 03:33] iceblu3710 commented on #248
I just figured out what the types are for. M = Start of letter, L = Letter segment, Z = End of letter. And all the y coords are inverter.

[2017-01-08 11:46] fdb commented on #248
OpenType.js just uses the [SVG path data format](https://www.w3.org/TR/SVG/paths.html#PathData).

[2017-01-08 18:09] fpirsch commented on #247
Aren't ES6 classes the new "bad part" of JS ?

[2017-01-08 18:28] Pomax commented on #247
Subjectively: to some. Objectively: no.

As with everything in JS, you need to know how it works before you use it, because ES6 classes are *not* the same as "class based object oriented programming" in things like C# or Java. That's not "good" or "bad", that's just "welcome to JavaScript" (yet again - there are so many things in JS that you're going to do wrong if you think it does things like ot

[2017-01-08 18:37] fdb commented on #248
Oh and the coordinates are inverted because they are stored that way (in PostScript format).

For reference:
- M = Moveto: takes two arguments x, y.
- L = Lineto: takes two arguments x, y.
- Q = Quadto: quadratic curve. Takes four arguments: x1, y1, x, y.
- C = Curveto: Bézier curve. Takes six arguments: x1, y1, x2, y2, x, y.
- Z = Close: closes the subpath.

[2017-01-08 21:29] fpirsch commented on #247
Isn't it precisely the point: keywords like `class` and `implements` make things look like java or C++ classes, and everybody wants to use them because it feels like good old java OOP, but nobody really understands what it is exactly.
Btw, :+1: for plugins.

[2017-01-08 21:35] oriSomething commented on #247
@fpirsch If you already use `prototype`, `class` is a great way to organize this code in simple way.
You can claim that you can't create truly multiple inheritance, but on the same time many will claim that inheritance is bad and multiple inheritance is multiple bad.
Another thing, many IDEs do really well autocomplete only from using the `class`.

[2017-01-09 09:23] #239 closed

[2017-01-09 09:36] brawer opened #249 "Support CFF2"
Specification: https://www.microsoft.com/typography/otspec/cff2.htm

Tests: https://raw.githack.com/unicode-org/text-rendering-tests/master/reports/FreeStack.html#CFF2-1

Test font: https://github.com/adobe-fonts/adobe-variable-font-prototype/releases/tag/1.001

[2017-01-09 13:04] fdb commented on #124
Version 0.6.8 now includes a `getBoundingBox` method on the `Path` and `Glyph` objects. This object is similar to [svg-path-bounding-box](https://github.com/icons8/svg-path-bounding-box/): it has x1/y1/x2/y2 coordinates.

[2017-01-09 13:04] #124 closed

[2017-01-09 13:25] fdb commented on #249
Yes, it would be awesome if we could support this!
Thanks for posting the test font.

[2017-01-09 13:36] fdb commented on #247
Personally, I like ES6 classes. As @oriSomething mentioned, we're using `prototype`-based inheritance already anyway, so it's just renaming some things and cleanup.

What I *don't* like is Babel, but yeah, necessary evils and all that....

My favorite feature of ES6 is to use `let` and `const` everywhere instead of `var`. So, once we're using Babel I would like to go through the code and do var re

[2017-01-09 13:37] #248 closed

[2017-01-09 13:39] fdb commented on #153
I think it's a good idea to keep `charToGlyph` and `charToGlyphIndex`, and add "plural" variants for complex scripts. (We have a similar approach with `Glyph.unicode` and `Glyph.unicodes`)

[2017-01-09 17:03] Pomax commented on #247
@fpirsch we can't control what TC39 picked as keyword, so it really shouldn't have been `class`, and that ship has sailed: that's what it is and that's what we now use. Does that invite mistakes? Of course, but only if you don't bother to first learn how to use a language feature before you start implementing with it, much like a *lot* of other JS features. For instance, a ton of people also mista

[2017-01-09 17:07] oriSomething commented on #247
@fdb `class`es works on Node ≥ 4.x and every major browser exclude IE. Personally, I see very little problem with it, since there is already usage of bundler because the project is written with common JS. For Node, there is no babel need.

[2017-01-09 17:13] Pomax commented on #247
Yeah it's a bit odd that http://caniuse.com/#search=classes does not list EDGE - IE would be the main stickling point really since IE11 has not yet been made obsolete, everything else should work fine (that said, having a legacy version of a library in pure ES5 is nice for things like older versions of Android phones, windows users who through no fault of their own are still forced to work on comp

[2017-01-10 09:33] Jolg42 commented on #247
Hi 😉
I like the idea but I need an ES5 js file in the end for compatibility purposes... So 100% for ES6 if you could add that 🙏

[2017-01-10 09:53] fdb commented on #247
I think we can make two versions if we need to: a version that is just rollup'd, in native ES6, and an ES5 file compiled with Babel. Oh and minfied versions of those two as well.

[2017-01-10 19:18] fpirsch commented on #153
@brawer
It'd be great to use your test suite with opentype.js . Are there any GSUB tests planned ?

[2017-01-11 11:24] fdb commented on #155
Hi @raphaelokon, I know this is *old*, but do you still have this issue? Could you provide me with the font so I can test it?

[2017-01-12 16:27] #230 closed

[2017-01-12 16:31] Jolg42 commented on #187
As `GSUB` is now implemented (Thank you @fpirsch!) it would be a lot easier to implement `GPOS` because they have a base in common. So if anyone is interested... 😉

[2017-01-12 16:45] fpirsch commented on #187
I could do it if only I had some time...